<div class="container">
  <div fxLayout="row" class="expense-field-creation-dialog--header-section">
    <h3 class="expense-field-creation-dialog--header-text single-line-text">
      Add new Email Address
    </h3>
    <img src="assets/images/svgs/actions/close.svg" mat-dialog-close
      class="expense-field-creation-dialog--close-icon sub-text-color pointer" />
  </div>

  <div class="expense-field-creation-dialog--horizontal-separator"></div>

  <div class="admin-info">
    Add an email address on which you would like to recieve your integration notification mails.
  </div>

  <form [formGroup]="form">
    <div>
      <h5 class="expense-field-creation-dialog--name-text sub-text-color">
        Name
        <app-mandatory-field></app-mandatory-field>
      </h5>
      <div class="expense-field-creation-dialog--form-field">
        <input class="expense-field-creation-dialog--form-input" type="text" formControlName="adminName"
          placeholder="Enter Name" matInput>
      </div>
    </div>

    <div>
      <h5 class="expense-field-creation-dialog--name-text sub-text-color">
        Email
        <app-mandatory-field></app-mandatory-field>
      </h5>
      <div class="expense-field-creation-dialog--form-field">
        <input class="expense-field-creation-dialog--form-input" type="text" formControlName="adminEmail"
          placeholder="Type email address here (ex- john@acme.com)" matInput>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" class="expense-field-creation-dialog--btn-section">
      <div class="expense-field-creation-dialog--cancel-btn">
        <a mat-stroked-button mat-dialog-close class="expense-field-creation-dialog--cancel-btn-text">Cancel</a>
      </div>
      <button
        [disabled]="!form.valid"
        mat-flat-button color="accent" (click)="submit()" mat-flat-button color="primary" [ngClass]="{'expense-field-creation-dialog--cta-btn': !(!form.valid)}">Save</button>
    </div>
  </form>
</div>
