<div class="import-settings">
  <div fxLayout="row" fxLayoutAlign="center center" class="configuration--section" [ngClass]="[isOnboarding ? 'configuration--onboarding-section' : '', !isOnboarding ? 'configuration--post-onboarding-section': '']">
    <app-loader [ngClass]="{'loader-main': !isOnboarding}" [phase]="'pre_onboarding'" *ngIf="isLoading"></app-loader>
    <div *ngIf="!isLoading" class="configuration--contents">
      <app-configuration-step-header-section [showSyncButton]="isOnboarding" [phase]="isOnboarding ? ProgressPhase.ONBOARDING : ProgressPhase.POST_ONBOARDING"></app-configuration-step-header-section>
      <form [formGroup]="importSettingsForm" class="import-settings--field">
        <app-configuration-toggle-field
          [form]="importSettingsForm"
          [label]="'Import Chart of Accounts from Quickbooks Online'"
          [subLabel]="'Imported accounts will be available as Categories in Fyle.'"
          [formControllerName]="'chartOfAccount'">
        </app-configuration-toggle-field>

        <div *ngIf="importSettingsForm.value.chartOfAccount">
          <div class="import-settings--field-checkbox-contents">
            <div class="import-settings--chart-of-account-header">
              <h5 class="bold">
                Select the accounts from QBO to import as categories in Fyle
              </h5>
            </div>
            <div formArrayName="chartOfAccountTypes" class="import-settings--chart-of-account-list-section">
              <div fxLayout="row wrap">
                <div *ngFor="let chartOfAccountType of chartOfAccountTypes.controls; let i = index"
                  [formGroupName]="i" fxFlex="33" class="import-settings--chart-of-account-list">
                  <mat-checkbox formControlName="enabled" [checked]="chartOfAccountType.value.enabled"
                    [disabled]="chartOfAccountType.value.name === 'Expense'">
                    <h5>{{ chartOfAccountType.value.name }}</h5>
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div formArrayName="expenseFields" class="paragraph">
          <div *ngFor="let expenseField of expenseFields.controls; let i = index" [formGroupName]="i">
            <div class="import-settings--field-toggle-section">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="import-settings--field-label-section import-settings--import-area">
                  Import {{ expenseField.value.destination_field | titlecase }} from Quickbooks Online
                  <h5 class="configuration--field-label sub-text-color">
                    The imported {{ expenseField.value.destination_field | titlecase }} from Quickbooks Online will be a
                    selectable field while creating an expense.
                  </h5>
                </div>
                <div class="configuration--input-toggle-section">
                  <mat-slide-toggle class="configuration--toggle-form-field" color="accent" [disabled]="expenseField.value.disable_import_to_fyle"
                    formControlName="import_to_fyle"></mat-slide-toggle>
                </div>
              </div>
              <div *ngIf="expenseField.value.import_to_fyle" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row">
                  <div fxLayout="row" class="import-settings--mapping-qbo-fyle-section">
                    <div class="import-settings--qbo-field">
                      <h5 class="import-settings--qbo-field-text single-line-text">
                        {{ expenseField.value.destination_field | titlecase }} in QBO
                      </h5>
                    </div>
                    <div class="import-settings--fields-separator"></div>
                    <div>
                      <mat-form-field floatLabel="always" appearance="outline" class="import-settings--fyle-field">
                        <mat-select placeholder="Select a field from Fyle" formControlName="source_field">
                          <mat-option *ngFor="let fyleExpenseField of fyleExpenseFields" [value]="fyleExpenseField">
                            {{ fyleExpenseField.split('_').join(' ') | titlecase }}
                            <img *ngIf="fyleExpenseField === expenseField.value.source_field" src="assets/images/svgs/general/tick-pink.svg" class="selected-value-check-mark">
                          </mat-option>
                        </mat-select>
                        <div class="mat-select-arrow-closed"></div>
                      </mat-form-field>
                      <div class="import-settings--preview-text sub-text-color">
                        <p>Click <span class="import-settings--preview-btn pointer" (click)="showFyleExpenseFormPreview()">here</span> to preview on how it looks on Expense Form</p>
                      </div>
                    </div>
                  </div>
                  <div fxLayout="row" *ngIf="!expenseField.value.disable_import_to_fyle">
                    <div class="import-settings--or-text">
                      <h5>or</h5>
                    </div>
                    <div (click)="createExpenseField(expenseField.value.destination_field)"
                      class="import-settings--create-custom-field actionable-text">
                      Create a new field in Fyle
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="import-settings--tax-section" *ngIf="isTaxGroupSyncAllowed">
          <app-configuration-toggle-field
            [form]="importSettingsForm"
            [label]="'Import Tax from QBO'"
            [subLabel]="'The imported Tax codes from Quickbooks will be set as Tax group in Fyle. This will be a selectable field while creating an expense.'"
            [formControllerName]="'taxCode'">
          </app-configuration-toggle-field>
        </div>

        <div *ngIf="importSettingsForm.value.taxCode" class="import-settings--default-tax-section sub-text-color">
          <div class="import-settings--default-tax-contents">
            <div class="import-settings--default-tax-field">
              <h5 class="import-settings--default-tax-header">
                Default Tax Code
                <app-mandatory-field></app-mandatory-field>
              </h5>
              <div>
                <mat-form-field floatLabel="always" appearance="outline" class="import-settings--default-tax-input">
                  <mat-select placeholder="Select Default Tax Code" formControlName="defaultTaxCode" (closed)="helperService.clearSearchText(importSettingsForm)" [compareWith]="helperService.compareObjects">
                    <app-simple-search-select [form]="importSettingsForm" [page]="SimpleSearchPage.CONFIGURATION" [searchType]="SimpleSearchType.SELECT_FIELD"></app-simple-search-select>
                    <div *ngFor="let option of taxCodes | search : importSettingsForm.value.searchOption">
                      <mat-option [ngClass]="{'search-zero-state': option && option.value === 'No result found'}" [matTooltip]="option.value" [matTooltipDisabled]="option.value.length <= 40" matTooltipPosition="above" matTooltipClass="above" (click)="helperService.clearSearchText(importSettingsForm)" [value]="{name: option.value, id: option.destination_id}">
                        <p (click)="$event.stopPropagation()" *ngIf="option.value === 'No result found'" class="align-center italic">{{ option.value }}</p>
                        <p *ngIf="option.value !== 'No result found'">{{ option.value }}</p>
                        <img *ngIf="(importSettingsForm.value.defaultTaxCode | json) === ({name: option.value, id: option.destination_id} | json)" src="assets/images/svgs/general/tick-pink.svg" class="selected-value-check-mark">
                      </mat-option>
                    </div>
                  </mat-select>
                  <div class="mat-select-arrow-closed"></div>
                </mat-form-field>
                <app-mandatory-error-message *ngIf="importSettingsForm.controls.defaultTaxCode.touched && !importSettingsForm.controls.defaultTaxCode.valid" [listName]="'tax code'"></app-mandatory-error-message>
              </div>
            </div>
            <div class="import-settings--default-tax-note">
              <h5>
                NOTE: If an expense from Fyle does not contain any tax group information during export, the default
                tax code will be used.
              </h5>
            </div>
          </div>
        </div>

        <div class="import-settings--tax-section">
          <app-configuration-toggle-field
            [form]="importSettingsForm"
            [label]="'Import QBO Vendors'"
            [subLabel]="'QBO vendors will be imported as merchants in Fyle that can be selected while submitting expenses.'"
            [formControllerName]="'importVendorsAsMerchants'">
          </app-configuration-toggle-field>
        </div>
      </form>

      <app-configuration-step-footer-section [ctaText]="!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" [showBackButton]="isOnboarding" [isButtonDisabled]="!importSettingsForm.valid || saveInProgress" (navigateToPreviousStep)="navigateToPreviousStep()" (save)="save()"></app-configuration-step-footer-section>
    </div>
  </div>
  <app-onboarding-footer *ngIf="isOnboarding && !isLoading"></app-onboarding-footer>
</div>
