.import-settings {
  &--field-checkbox-contents {
    padding: 16px 32px 26px;
  }

  &--chart-of-account-header {
    padding-right: 8px;
  }

  &--chart-of-account-list-section {
    padding-top: 24px;
  }

  &--chart-of-account-list {
    padding-right: 81.67px;
    padding-bottom: 8px;
  }

  &--mapping-qbo-fyle-section {
    width: 633.5px;
  }

  &--qbo-field {
    background: #F5F5F5;
    border: 1px solid #DFDFE2;
    box-sizing: border-box;
    border-radius: 4px;
    width: 280px;
    height: 36px;
  }

  &--qbo-field-text {
    padding: 11px 161px 11px 17px;
  }

  &--fyle-field {
    width: 305px;
    height: 40px;
    margin-top: -5px;
  }

  &--preview-text {
    padding-top: 16px;
    font-size: 12px;
  }

  &--preview-btn {
    color: #0660F6;
  }

  &--fields-separator {
    border-top: 1px solid #DFDFE2;
    align-self: center;
    width: 48px;
    height: 26px;
  }

  &--or-text {
    padding: 8px 16px;
  }

  &--field-label-section {
    width: 650px;
    padding-right: 46px;
  }

  &--create-custom-field {
    padding: 8px 0px;
  }

  &--tax-section {
    min-height: 102px;
  }

  &--default-tax-section {
    height: 160px;
  }

  &--default-tax-contents {
    padding: 16px 32px 40px 32px;
  }

  &--default-tax-field {
    padding-right: 729.5px;
  }

  &--default-tax-input {
    width: 305px;
    height: 40px;
  }

  &--default-tax-header {
    padding-bottom: 6px;
  }

  &--default-tax-note {
    padding-top: 12px;
  }

  &--vendor-contents {
    padding: 0px 32px 40px 32px;
  }

  &--field-label-note {
    padding-top: 18px;
  }

  &--field {
    background: #FAFCFF;
  }

  &--field-toggle-section {
    padding: 0px 8px 19px 32px;
    background: #FAFCFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
  }

  &--import-area {
    padding-top: 40px;
    padding-bottom: 16px;
  }

  &--vendor-section {
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
  }
}

:host {
  .mat-slide-toggle {
    &.mat-checked {
      ::ng-deep.mat-slide-toggle-bar::after {
        content: 'Yes';
        font-size: 75%;
        color: #FFFFFF;
        position: absolute;
        left: 8px;
        top: -1px;
      }
    }
    &:not(.mat-checked) {
      ::ng-deep.mat-slide-toggle-bar::after {
        content: 'No';
        font-size: 75%;
        color: #FFFFFF;
        position: absolute;
        left: 25px;
        top: -2px;
      }
    }
  }
}

p {
  margin: 0;
}
