<app-onboarding-stepper [currentStep]="'Export Settings'"></app-onboarding-stepper>
<!-- TODO: check content of all fields -->

<div *ngIf="!isLoading">
  <div class="configuration--section">
    <div class="configuration--contents">
      <app-configuration-step-header-section></app-configuration-step-header-section>
      <form [formGroup]="exportSettingsForm">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
          <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
            <img src="assets/images/svgs/actions/question-mark.svg" class="configuration--icon">
            <div>
              <div class="configuration--field-header">
                At which state should the expenses be ready to export from Fyle?
                <app-mandatory-field></app-mandatory-field>
              </div>
              <h5 class="configuration--field-label sub-text-color">
                You could choose to export expenses when they have been approved and are awaiting payment clearance, OR simply when they have been paid out.
              </h5>
            </div>
          </div>
          <div class="configuration--input-section">
            <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
              <mat-select placeholder="Select expense state" formControlName="expenseState">
                <mat-option *ngFor="let option of expenseStateOptions" [value]="option.value">
                  {{ option.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="configuration--auto-map-note-section">
          <div class="configuration--auto-map-note-content sub-text-color">
            <h5>
              NOTE: Based on the selected state, the integration will automatically import the expenses from Fyle. You can then manually export expenses from the Dashboard or automate the export process in the Advance settings.
            </h5>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-toggle-section">
          <div class="configuration--field-label-section">
            Export Reimbursable Expenses
            <h5 class="configuration--field-label sub-text-color">
              Enable this to export the reimbursable expenses from Fyle. If not enabled, any <span class="bold">out-of-pocket</span> expenses will not be exported to QBO.
            </h5>
          </div>
          <div class="configuration--input-toggle-section">
            <mat-slide-toggle class="configuration--toggle-form-field" color="accent" formControlName="reimbursableExpense"></mat-slide-toggle>
          </div>
        </div>

        <div *ngIf="exportSettingsForm.value.reimbursableExpense">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
              <img src="assets/images/svgs/general/expense.svg" class="configuration--icon">
              <div class="configuration--field-label-text-section">
                <div class="configuration--field-header">
                  How should the expenses be exported?
                  <app-mandatory-field></app-mandatory-field>
                </div>
                <h5 class="configuration--field-label sub-text-color">
                  Choose the type of transaction in Quickbooks Online to export your Fyle expenses.
                </h5>
              </div>
            </div>
            <div class="configuration--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
                <mat-select placeholder="Select expense export type" formControlName="reimbursableExportType">
                  <mat-option *ngFor="let option of reimbursableExportTypes" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="showBankAccountField()" fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
              <div class="configuration--field-label-text-section configuration--field-label-text-section-without-img">
                <div class="configuration--field-header">
                  To which Bank Account should the {{ exportSettingsForm.value.reimbursableExportType | titlecase }} be posted to?
                  <app-mandatory-field></app-mandatory-field>
                </div>
                <h5 class="configuration--field-label sub-text-color">
                  All the offset entry in the Journal will be posted to the selected Bank account
                </h5>
              </div>
            </div>
            <div class="configuration--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
                <mat-select
                  placeholder="Select Bank Account"
                  formControlName="bankAccount">
                  <app-simple-search-select [form]="exportSettingsForm"></app-simple-search-select>
                  <mat-option [matTooltip]="option.value" [matTooltipDisabled]="option.value.length <= 40" matTooltipPosition="above" (click)="helperService.clearSearchText(exportSettingsForm)" *ngFor="let option of bankAccounts | search : exportSettingsForm.value.searchOption" [value]="{id: option.id, name: option.value}">
                    {{ option.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="showExpenseAccountField()" fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
              <div class="configuration--field-label-text-section configuration--field-label-text-section-without-img">
                <div class="configuration--field-header">
                  To which Expense Account should the {{ exportSettingsForm.value.reimbursableExportType | titlecase }} be posted to?
                  <app-mandatory-field></app-mandatory-field>
                </div>
                <h5 class="configuration--field-label sub-text-color">
                  The expenses exported will be added to the selected Expense Payment Account
                </h5>
              </div>
            </div>
            <div class="configuration--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
                <mat-select
                  placeholder="Select Expense Account"
                  formControlName="qboExpenseAccount">
                  <app-simple-search-select [form]="exportSettingsForm"></app-simple-search-select>
                  <mat-option [matTooltip]="option.value" [matTooltipDisabled]="option.value.length <= 40" matTooltipPosition="above" (click)="helperService.clearSearchText(exportSettingsForm)" *ngFor="let option of expenseAccounts | search : exportSettingsForm.value.searchOption" [value]="{id: option.id, name: option.value}">
                    {{ option.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="showReimbursableAccountsPayableField()" fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
              <div class="configuration--field-label-text-section configuration--field-label-text-section-without-img">
                <div class="configuration--field-header">
                  To which Accounts Payable account should the Bill be posted to?
                  <app-mandatory-field></app-mandatory-field>
                </div>
                <h5 class="configuration--field-label sub-text-color">
                  The integration will post the offset credit entry in Bill to the selected Accounts Payable Account.
                </h5>
              </div>
            </div>
            <div class="configuration--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
                <mat-select
                  placeholder="Select accounts payable"
                  formControlName="accountsPayable" (keydown)="$event.stopPropagation()">
                  <app-simple-search-select [form]="exportSettingsForm"></app-simple-search-select>
                  <mat-option [matTooltip]="option.value" [matTooltipDisabled]="option.value.length <= 40" matTooltipPosition="above" (click)="helperService.clearSearchText(exportSettingsForm)" *ngFor="let option of accountsPayables | search : exportSettingsForm.value.searchOption" [value]="{id: option.id, name: option.value}">
                    {{ option.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
              <img src="assets/images/svgs/general/tabs.svg" class="configuration--icon">
              <div>
                <div class="configuration--field-header">
                  How should the expense in {{ exportSettingsForm.value.reimbursableExportType ? (exportSettingsForm.value.reimbursableExportType | titlecase) : 'QBO' }} be grouped?
                  <app-mandatory-field></app-mandatory-field>
                </div>
                <h5 class="configuration--field-label sub-text-color">
                  Grouping reflects how the expense entries of a {{ exportSettingsForm.value.reimbursableExportType ? (exportSettingsForm.value.reimbursableExportType | titlecase) : 'QBO' }} are posted in QBO. For example, grouping by payment exports all expenses within a Fyle payment queue as one record.
                </h5>
              </div>
            </div>
            <div class="configuration--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
                <mat-select placeholder="Select expense export type" formControlName="reimbursableExportGroup">
                  <mat-option *ngFor="let option of expenseGroupingFieldOptions" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
              <img src="assets/images/svgs/general/calendar.svg" class="configuration--icon">
              <div class="configuration--field-label-text-section" style="width: 552px;">
                <div class="configuration--field-header">
                  Set the {{ exportSettingsForm.value.reimbursableExportType ?
                  (exportSettingsForm.value.reimbursableExportType | titlecase) : 'export' }} date as
                  <app-mandatory-field></app-mandatory-field>
                </div>
                <h5 class="configuration--field-label sub-text-color">
                  The selected date will reflect in expenses exported to QBO
                </h5>
              </div>
            </div>
            <div class="configuration--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
                <mat-select
                  placeholder="Select the {{ exportSettingsForm.value.reimbursableExportType ? (exportSettingsForm.value.reimbursableExportType | titlecase) : 'export' }} date"
                  formControlName="reimbursableExportDate">
                  <mat-option *ngFor="let option of expenseGroupingDateOptions" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-toggle-section">
          <div class="configuration--field-label-section">
            Export Credit Card Expenses
            <h5 class="configuration--field-label sub-text-color">
              Enable this to export the corporate credit card expenses from Fyle. If not enabled, any expenses <span class="bold">Paid by Corporate Card</span> will not be exported to QBO.
            </h5>
          </div>
          <div class="configuration--input-toggle-section">
            <mat-slide-toggle class="configuration--toggle-form-field" color="accent" formControlName="creditCardExpense"></mat-slide-toggle>
          </div>
        </div>

        <div *ngIf="exportSettingsForm.value.creditCardExpense">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
              <img src="assets/images/svgs/general/expense.svg" class="configuration--icon">
              <div class="configuration--field-label-text-section">
                <div class="configuration--field-header">
                  How should the expenses be exported?
                  <app-mandatory-field></app-mandatory-field>
                </div>
                <h5 class="configuration--field-label sub-text-color">
                  Choose the type of transaction in Quickbooks Online to export your corporate credit card expense from Fyle.
                </h5>
              </div>
            </div>
            <div class="configuration--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
                <mat-select placeholder="Select expense export type" formControlName="creditCardExportType">
                  <mat-option *ngFor="let option of creditCardExportTypes" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="showCreditCardAccountField()" fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
              <div class="configuration--field-label-text-section configuration--field-label-text-section-without-img">
                <div class="configuration--field-header">
                  Set Default Credit Card Account as
                  <app-mandatory-field></app-mandatory-field>
                </div>
                <h5 class="configuration--field-label sub-text-color">
                  Post all your company credit card transactions to a default credit card account.
                  <!-- TODO: Add note section -->
                </h5>
              </div>
            </div>
            <div class="configuration--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
                <mat-select
                  placeholder="Select Default Credit Card Vendor"
                  formControlName="defaultCCCAccount">
                  <app-simple-search-select [form]="exportSettingsForm"></app-simple-search-select>
                  <mat-option [matTooltip]="option.value" [matTooltipDisabled]="option.value.length <= 40" matTooltipPosition="above" (click)="helperService.clearSearchText(exportSettingsForm)" *ngFor="let option of cccAccounts | search : exportSettingsForm.value.searchOption" [value]="{id: option.id, name: option.value}">
                    {{ option.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="showDebitCardAccountField()" fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
              <div class="configuration--field-label-text-section configuration--field-label-text-section-without-img">
                <div class="configuration--field-header">
                  Set Default Debit Card Account as
                  <app-mandatory-field></app-mandatory-field>
                </div>
                <h5 class="configuration--field-label sub-text-color">
                  Post all your company debit card transactions to a default debit card account.
                  <!-- TODO: Add note section -->
                </h5>
              </div>
            </div>
            <div class="configuration--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
                <mat-select
                  placeholder="Select Default Debit Card Account"
                  formControlName="defaultDebitCardAccount">
                  <app-simple-search-select [form]="exportSettingsForm"></app-simple-search-select>
                  <mat-option [matTooltip]="option.value" [matTooltipDisabled]="option.value.length <= 40" matTooltipPosition="above" (click)="helperService.clearSearchText(exportSettingsForm)" *ngFor="let option of bankAccounts | search : exportSettingsForm.value.searchOption" [value]="{id: option.id, name: option.value}">
                    {{ option.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="showDefaultCreditCardVendorField()" fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
              <div class="configuration--field-label-text-section configuration--field-label-text-section-without-img">
                <div class="configuration--field-header">
                  Set default Credit Card Vendor as
                  <app-mandatory-field></app-mandatory-field>
                </div>
                <h5 class="configuration--field-label sub-text-color">
                  The default vendor will apply to all credit card transactions upon export.
                </h5>
              </div>
            </div>
            <div class="configuration--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
                <mat-select
                  placeholder="Select default credit card vendor"
                  formControlName="defaultCreditCardVendor">
                  <app-simple-search-select [form]="exportSettingsForm"></app-simple-search-select>
                  <mat-option [matTooltip]="option.value" [matTooltipDisabled]="option.value.length <= 40" matTooltipPosition="above" (click)="helperService.clearSearchText(exportSettingsForm)" *ngFor="let option of vendors | search : exportSettingsForm.value.searchOption" [value]="{id: option.id, name: option.value}">
                    {{ option.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="showCCCAccountsPayableField() && !showReimbursableAccountsPayableField()" fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
              <div class="configuration--field-label-text-section configuration--field-label-text-section-without-img">
                <div class="configuration--field-header">
                  To which Accounts Payable account should the Bill be posted to?
                  <app-mandatory-field></app-mandatory-field>
                </div>
                <h5 class="configuration--field-label sub-text-color">
                  The integration will post the offset credit entry in Bill to the selected Accounts Payable Account.
                </h5>
              </div>
            </div>
            <div class="configuration--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
                <mat-select
                  placeholder="Select accounts payable"
                  formControlName="accountsPayable">
                  <app-simple-search-select [form]="exportSettingsForm"></app-simple-search-select>
                  <mat-option [matTooltip]="option.value" [matTooltipDisabled]="option.value.length <= 40" matTooltipPosition="above" (click)="helperService.clearSearchText(exportSettingsForm)" *ngFor="let option of accountsPayables | search : exportSettingsForm.value.searchOption" [value]="{id: option.id, name: option.value}">
                    {{ option.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
              <img src="assets/images/svgs/general/tabs.svg" class="configuration--icon">
              <div>
                <div class="configuration--field-header">
                  How should the expense in {{ exportSettingsForm.value.creditCardExportType ? (exportSettingsForm.value.creditCardExportType | titlecase) : 'QBO' }} be grouped?
                  <app-mandatory-field></app-mandatory-field>
                </div>
                <h5 class="configuration--field-label sub-text-color">
                  Grouping reflects how the expense entries of a {{ exportSettingsForm.value.creditCardExportType ? (exportSettingsForm.value.creditCardExportType | titlecase) : 'QBO' }} are posted in QBO. For example, grouping by payment exports all expenses within a Fyle payment queue as one record.
                </h5>
              </div>
            </div>
            <div class="configuration--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
                <mat-select placeholder="Select expense export type" formControlName="creditCardExportGroup">
                  <mat-option *ngFor="let option of expenseGroupingFieldOptions" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
              <img src="assets/images/svgs/general/calendar.svg" class="configuration--icon">
              <div class="configuration--field-label-text-section" style="width: 552px;">
                <div class="configuration--field-header">
                  Set the {{ exportSettingsForm.value.creditCardExportType ?
                  (exportSettingsForm.value.creditCardExportType | titlecase) : 'export' }} date as
                  <app-mandatory-field></app-mandatory-field>
                </div>
                <h5 class="configuration--field-label sub-text-color">
                  The selected date will reflect in the corporate credit card expenses exported to QBO.
                </h5>
              </div>
            </div>
            <div class="configuration--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
                <mat-select
                  placeholder="Select the {{ exportSettingsForm.value.reimbursableExportType ? (exportSettingsForm.value.reimbursableExportType | titlecase) : 'export' }} date"
                  formControlName="creditCardExportDate">
                  <mat-option *ngFor="let option of expenseGroupingDateOptions" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center"
          class="configuration--field-section configuration--footer-contents">
          <div fxLayout="row" class="configuration--back-btn pointer" (click)="navigateToPreviousStep()">
            <img src="assets/images/svgs/actions/arrow-mark-left.svg" class="configuration--img-arrow-left" />
            <h5 class="configuration--back-btn-text align-center">Back</h5>
          </div>
          <div fxLayout="row" class="configuration--submit-btn pointer"
            [ngClass]="!exportSettingsForm.valid ? 'btn-disabled' : 'btn-enabled'" (click)="save()">
            <h5 class="configuration--submit-btn-text single-line-text">
              Save & Continue
            </h5>
            <img src="assets/images/svgs/actions/arrow-mark-right.svg" class="configuration--submit-btn-arrow-text" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <app-onboarding-footer></app-onboarding-footer>
</div>
