<table mat-table [dataSource]="mappings">
  <ng-container matColumnDef="fyle">
    <th mat-header-cell *matHeaderCellDef>
      <h4>{{ sourceType | titlecase | snakeCaseToSpaceCase }} in Fyle</h4>
    </th>
    <td mat-cell *matCellDef="let element">
      <img *ngIf="element.autoMapped" matTooltip="Auto-mapped" matTooltipPosition="below" matTooltipClass="below" src="assets/images/svgs/general/flash.svg" width="12px" height="12px" class="mapping-table--auto-mapped-row">
      <span [matTooltip]="element.fyle.value" [matTooltipDisabled]="element.fyle.value.length <= 30" matTooltipPosition="above" matTooltipClass="above" [ngClass]="{'mapping-table--manually-mapped-row': !element.autoMapped}">{{ element.fyle.value | trimCharacter: 30 }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="qbo">
    <th mat-header-cell *matHeaderCellDef>
      <h4>{{ this.destinationType | titlecase | snakeCaseToSpaceCase }} in QuickBooks Online</h4>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="always" appearance="outline" class="mapping-table--form-field">
        <mat-select placeholder="Select {{ this.destinationType | titlecase | snakeCaseToSpaceCase }}" [value]="mappingForm[element.index]?.value?.destination" (closed)="helperService.clearSearchText(mappingForm[element.index])">
          <div fxLayout="row">
          <app-simple-text-search [showToolTip] = "true" [form]="mappingForm[element.index]"  [isSearchInProgress]="isSearchInProgress" [page]="SimpleSearchPage.MAPPING" [advancedSearchType]="SearchType.SELECT_FIELD" (searchResult)="advancedSearchHandler($event)"></app-simple-text-search>
          </div>
          <mat-option *ngFor="let option of qboData | search : mappingForm[element.index].value.searchOption" [ngClass]="{'search-zero-state': option && option.value === 'No result found'}" [matTooltip]="option.value" [matTooltipDisabled]="option.value.length <= 40" matTooltipPosition="above" matTooltipClass="above" (click)="saveMapping(element, option, mappingForm[element.index]);" [value]="option.value">
            <p (click)="$event.stopPropagation()" *ngIf="option.value === 'No result found' && isSearchInProgress" class="align-center italic">Searching...</p>
            <p (click)="$event.stopPropagation()" *ngIf="option.value === 'No result found' && !isSearchInProgress" class="align-center italic">{{ option.value }}</p>
            <p *ngIf="option.value !== 'No result found'">{{ option.value | trimCharacter: 38 }}</p>
            <img *ngIf="option.value === mappingForm[element.index].value.destination" src="assets/images/svgs/general/tick-pink.svg" class="selected-value-check-mark">
          </mat-option>
        </mat-select>
        <div class="mat-select-arrow-closed"></div>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>
      <h4>State</h4>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="mapping-table--state-pill" [ngClass]="element.state === 'MAPPED' ? 'mapping-table--state-pill-mapped' : 'mapping-table--state-pill-unmapped'">
        <h4 class="mapping-table--state-pill-text align-center">{{ element.state | titlecase }}</h4>
      </div>
    </td>
  </ng-container>

  <tr class="mapping-table--heading" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr class="mapping-table--row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
