.mapping-table {
  &--heading {
    background: #F5F5F5;
    border: 1px solid #DFDFE2;
    border-radius: 4px;
  }

  &--row {
    height: 70px;
      &:hover {
        background: #FAFCFF;
      }
  }

  &--auto-mapped-row {
    margin-right: 12px;
  }

  &--manually-mapped-row {
    margin-left: 26px;
  }

  &--state-pill {
    height: 24px;
    border-radius: 13.5px;
  }

  &--state-pill-mapped {
    width: 75px;
    background: #E7F7F2;
    color: #55B07D;
    @extend .mapping-table--state-pill;
  }

  &--state-pill-unmapped {
    width: 89px;
    background: rgba(218, 30, 40, 0.1);
    color: #DA1E28;
    @extend .mapping-table--state-pill;
  }

  &--state-pill-text {
    padding: 5px 10px;
  }

  &--form-field {
    width: 401px;
    // padding: 2px 0px 0px 0px;
    padding-top: 2px;
    @media only screen and (max-width: 1440px) {
      // padding: 2px 8px 0px 10px;
      padding-top: 2px;
      width: 228px;
    }
  }
}
