<div>
  <div class="dashboard-export-log--header-section">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h3>
        {{ data.exportState === ExportState.SUCCESS ? 'Successful' : 'Failed' }} Expense Groups
      </h3>
      <img src="assets/images/svgs/actions/close.svg" (click)="this.dialogRef.close()"
        class="dashboard-export-log--close-icon sub-text-color pointer" />
    </div>
    <h5 *ngIf="data.exportState === ExportState.SUCCESS" class="dashboard-export-log--sub-header-text sub-text-color">
      These exports have been successfully exported to your Quickbooks Online Account.
    </h5>
    <h5 *ngIf="data.exportState === ExportState.FAILED" class="dashboard-export-log--sub-header-text sub-text-color">
      These exports have failed to export due to some errors. Resolve the errors on your dashboard to and try to re-export them again
    </h5>
  </div>


  <div class="dashboard-export-log--horizontal-separator"></div>

  <div class="dashboard-export-log--table" *ngIf="!isLoading">
    <app-export-log-table [displayedColumns]="displayedColumns" [totalCount]="1" [expenseGroups]="expenseGroups" [externalUrlType]="externalUrlType"></app-export-log-table>
  </div>

  <!-- shimmers -->
  <div *ngIf="isLoading">
    <table class="shimmers skeleton-loader-list-view--table">
      <tr fxFlex="row" fxLayoutAlign="space-between center">
        <th><span class="skeleton-loader-list-view--export-log-col-1">Reference ID</span></th>
        <th><span class="skeleton-loader-list-view--export-log-col-2">Employee Name and ID</span></th>
        <th *ngIf="data.exportState === ExportState.SUCCESS"><span>Exported to QBO as</span></th>
        <th><span class="skeleton-loader-list-view--export-log-col-6">Link to QBO</span></th>
      </tr>
    </table>
    <div *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" fxLayout="row" fxLayoutAlign="start center" class="skeleton-loader-list-view--row-box">
      <div class="skeleton-loader-list-view--init-box-section">
        <div class="shimmers skeleton-loader-list-view--init-box-export-log"></div>
      </div>
      <div class="skeleton-loader-list-view--end-box-section">
        <div class="shimmers skeleton-loader-list-view--end-box-export-log"></div>
      </div>
    </div>
  </div>
  <!-- shimmers -->

</div>
