.header-section {
  min-height: 135px;
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;

  &--inner {
    min-height: 71px;
    padding: 30px;
    width: 1080px;
  }

  &--sync-inactive {
    width: 1080px;
  }

  &--header-text {
    padding-bottom: 12px;
  }

  &--info-section {
    padding-top: 16px;
  }

  &--info-content-section {
    background: #EFF5FC;
    border-radius: 4px;
    padding: 12px 26px 12px 12px;
  }

  &--info-icon {
    padding-left: 2px;
    padding-right: 8px;
  }

  &--sync-btn {
    padding-top: 25px;
    padding-left: 10px;
  }
}
