<div class="header-section">
  <div fxLayout="row" fxLayoutAlign="space-between start" class="header-section--inner" [ngClass]="{'header-section--sync-inactive': !(showSyncButton && (activePage === 'export_settings' || activePage === 'import_settings' || activePage === 'advanced_settings'))}">
    <div>
      <h3 class="header-section--header-text single-line-text">
        {{ headerText }} <span *ngIf="isStepOptional" class="sub-text-color italic">(Optional)</span>
      </h3>
      <h5 class="sub-text-color paragraph">
        {{ contentText }}
      </h5>
      <div *ngIf="activePage === 'import_settings'" class="header-section--info-section">
        <div fxLayout="row" class="header-section--info-content-section">
          <img src="assets/images/svgs/general/info.svg" class="header-section--info-icon" width="16px" height="16px" />
          <h5 class="sub-text-color">
            Enabling an Import of a dimension will sync all the data from the selected dimension with the expense fields in Fyle. If you don't want to import all the data and only use specific data in Fyle, we recommend that you create these fields first in Fyle and then selectively map them from the <b>Dashboard > Mappings</b> section once the setup is complete.
          </h5>
        </div>
      </div>
    </div>
    <div class="header-section--sync-btn" *ngIf="showSyncButton && (activePage === 'export_settings' || activePage === 'import_settings' || activePage === 'advanced_settings')">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--back-btn pointer" (click)="refreshQBODimensions()" matTooltip="Instantly refresh and sync the dimensions from QBO and Fyle" matTooltipPosition="above" matTooltipClass="above">
        <img src="assets/images/svgs/actions/sync.svg" class="btn-cta-text-with-icon" />
        <h5 class="btn-icon align-center">Sync</h5>
      </div>
    </div>
  </div>
</div>
