.header-section {
  min-height: 135px;
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;

  &--inner {
    min-height: 71px;
    padding: 32px 32px 32px 32px;
    width: 1080px;
  }

  &--sync-inactive {
    width: 1080px;
  }

  &--header-text {
    font-weight: 500;
    padding-bottom: 12px;
  }
}
