<!-- Export and Import Setting Page - without icon, with background -->
<div *ngIf="!iconPath" [formGroup]="form" fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-toggle-section">
  <div>
    <div class="configuration--field-label-section">
      {{ label }}
      <h5 class="configuration--field-label sub-text-color paragraph" [innerHTML]="subLabel"></h5>
    </div>
  </div>
  <div class="configuration--input-toggle-section">
    <mat-slide-toggle class="configuration--toggle-form-field" color="accent" [formControlName]="formControllerName">
    </mat-slide-toggle>
  </div>
</div>

<!-- Advanced Setting Page - with icon -->
<div *ngIf="iconPath" [formGroup]="form" [ngClass]="formControllerName !== 'exportSchedule' ? 'configuration--field-section': 'configuration--export-field-section'">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
      <img src="{{ iconPath }}" class="configuration--icon">
      <div>
        <div class="configuration--field-header">
          {{ label }}
        </div>
        <h5 class="configuration--field-label sub-text-color paragraph" [innerHTML]="subLabel"></h5>
      </div>
    </div>
    <div class="advanced-setting-toggle-section">
      <mat-slide-toggle class="configuration--toggle-form-field" color="accent" [formControlName]="formControllerName"></mat-slide-toggle>
    </div>
  </div>
</div>
