.advanced-setting-toggle-section {
  width: 430px;
}

:host {
  .mat-slide-toggle {
    &.mat-checked {
      ::ng-deep.mat-slide-toggle-bar::after {
        content: 'Yes';
        font-size: 75%;
        color: #FFFFFF;
        position: absolute;
        left: 8px;
        top: -1px;
      }
    }
    &:not(.mat-checked) {
      ::ng-deep.mat-slide-toggle-bar::after {
        content: 'No';
        font-size: 75%;
        color: #FFFFFF;
        position: absolute;
        left: 25px;
        top: -2px;
      }
    }
  }
}
.export-schedule-section {
  padding-left: 24px;
  padding-top: 24px;
}
