.import-settings {
  // TODO: resuse common classes
  min-height: 1160px;

  &--section {
    padding: 0px 170px 56px 170px;
  }

  &--contents {
    border: 1px solid #DFDFE2;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;
    margin: -60px 0px;
    padding-bottom: 56px;
  }

  &--field-toggle-section {
    padding: 40px 32px 16px 32px;
    min-height: 227px;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
  }

  &--field-label-section {
    width: 592px;
    padding-right: 46px;
  }

  &--field-label {
    padding-top: 8px;
  }

  &--field-checkbox-section {
    min-height: 234px;
  }

  &--field-checkbox-contents {
    padding: 16px 32px 40px 32px;
  }

  &--field-checkbox-inner-contents {
    padding-right: 187px;
  }

  &--chart-of-account-header {
    padding-right: 8px;
  }

  &--chart-of-account-list-section {
    padding-top: 24px;
  }

  &--chart-of-account-list {
    padding-right: 81.67px;
    padding-bottom: 8px;
  }

  &--mapping-section {
    min-height: 98px;
  }

  &--mapping-qbo-fyle-section {
    width: 633.5px;
  }

  &--qbo-field {
    background: #F5F5F5;
    border: 1px solid #DFDFE2;
    box-sizing: border-box;
    border-radius: 4px;
    width: 280px;
    height: 40px;
  }

  &--qbo-field-text {
    padding: 11px 161px 11px 17px;
  }

  &--fyle-field {
    width: 305px;
    height: 40px;
    margin-top: -5px;
  }

  &--preview-btn {
    color: #0660F6;
  }

  &--fields-separator {
    border-top: 1px solid #DFDFE2;
    align-self: center;
    width: 48px;
  }

  &--or-text {
    padding: 8px 16px;
    align-self: center;
  }

  &--create-custom-field {
    align-self: center;
  }

  &--tax-section {
    min-height: 102px;
  }

  &--default-tax-section {
    height: 160px;
  }

  &--tax-contents {
    padding: 40px 32px 16px 32px;
  }

  &--tax-sub-header {
    padding-top: 8px;
  }

  &--default-tax-contents {
    padding: 16px 32px 40px 32px;
  }

  &--default-tax-field {
    padding-right: 729.5px;
  }

  &--default-tax-input {
    width: 305px;
    height: 40px;
  }

  &--default-tax-note {
    padding-top: 8px;
  }

  &--field-section {
    padding: 24px 32px;
    min-height: 83px;
  }

  &--field-label-note {
    padding-top: 18px;
  }

  &--input-toggle-section {
    width: 408px;
  }

  &--toggle-form-field {
    padding: 22.5px 357px 22.5px 0px;
  }

  &--field {
    background: #FAFCFF;
  }

  &--footer-contents {
    padding: 12px 32px;
  }

  &--back-btn {
    border: 1px solid #DFDFE2;
    box-sizing: border-box;
    border-radius: 4px;
    width: 107px;
    height: 42px;
  }

  &--img-arrow-left {
    padding: 12px 8px 12px 24px;
  }

  &--back-btn-text {
    padding: 12px 24px 12px 0px;
    color: #2C304E;
  }

  &--submit-btn {
    border: none;
    border-radius: 4px;
    width: 181px;
    height: 42px;
    color: #FFFFFF;
  }

  &--submit-btn-text {
    padding: 12px 10.25px 12px 24px;
  }

  &--submit-btn-arrow-text {
    padding: 15.38px 26.25px 15.37px 0px;
  }
}
