<div class="onboarding-done--bg-top"></div>
<div class="onboarding-done--bg-bottom"></div>
<div class="onboarding-done--section">
  <div class="onboarding-done--contents">
    <div class="onboarding-done--gif-section">
      <img src="assets/gifs/success-check.gif" class="onboarding-done--align-center" alt="Onboarding done" width="150px"
        height="150px">
    </div>
    <div class="onboarding-done--header">
      <h3 class="align-center">Congratulations! Your integration setup is now complete.</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--submit-btn btn-enabled" (click)="navigateToDashboard()">
        <h5 class="btn-cta-text-without-icon single-line-text">
          Launch Integration
        </h5>
      </div>
    </div>
    <div class="onboarding-done--caption">
      <h5 class="sub-text-color align-center paragraph">
        You can still re-configure your export settings at any point of time from the <span class="bold">Configuration</span> section of the integration. For any manually created values in Fyle that you wish to be exported to QBO, the mapping can be setup in <span class="bold">Mappings</span> section of the integration.
      </h5>
    </div>
  </div>
</div>
<div class="onboarding-done--footer">
  <app-onboarding-footer></app-onboarding-footer>
</div>
