<app-onboarding-stepper [currentStep]="'Clone Settings'"></app-onboarding-stepper>

<div class="clone-settings--section">
    <div class="clone-settings--block">
        <app-loader [phase]="'pre_onboarding'" *ngIf="isLoading" data-cy="configuration-loader"></app-loader>

        <div *ngIf="!isLoading" [formGroup]="cloneSettingsForm">
            <!-- Employee Mapping -->
            <div>
                <div fxLayoutAlign="start start" class="clone-settings--header-section"
                    data-cy="configuration-contents">
                    <div class="clone-settings--header-icon">
                        <img src="assets/images/svgs/general/setting.svg">
                    </div>
                    <div>
                        <h3>Employee Mappings</h3>
                        <h5 class="clone-settings--header-caption sub-text-color">
                            In this section, you can configure how map fyle employees to Quickbooks Vendor / Employee
                        </h5>
                    </div>
                </div>

                <div class="clone-settings--configuration-section">
                    <div fxLayout="row">
                        <div class="clone-settings--field-section" fxLayout="row" fxLayoutAlign="start center">
                            <img class="clone-settings--sub-options-icon"
                                src="assets/images/svgs/general/calendar-disabled.svg">
                            <p class="clone-settings--sub-options-text">Employee Field Mapping</p>
                            <img class="clone-settings--info-icon" src="assets/images/svgs/general/info-disabled.svg"
                                matTooltip="The selected date will reflect in expenses exported to Quickbooks Online"
                                matTooltipPosition="above" matTooltipClass="clone-settings">
                        </div>

                        <div class="clone-settings--sub-options-text">
                            <app-select [form]="cloneSettingsForm" [options]="employeeFieldMappingOptions"
                                [isFieldMandatory]="true" [mandatoryErrorListName]="'Purchase Bill Date'"
                                [placeholder]="'Select the Purchase Bill date'" [formControllerName]="'employeeMapping'"
                                [phase]="ProgressPhase.ONBOARDING"></app-select>
                        </div>
                    </div>
                </div>

                <div class="clone-settings--configuration-section">
                    <div fxLayout="row">
                        <div class="clone-settings--field-section" fxLayout="row" fxLayoutAlign="start center">
                            <img class="clone-settings--sub-options-icon"
                                src="assets/images/svgs/general/employee-disabled.svg">
                            <p class="clone-settings--sub-options-text">Auto Map Employee</p>
                            <img class="clone-settings--info-icon" src="assets/images/svgs/general/info-disabled.svg"
                                matTooltip="Automatically map the employees in Fyle to their corresponding records in Quickbooks based on a unique parameter."
                                matTooltipPosition="above" matTooltipClass="clone-settings">
                        </div>

                        <div>
                            <div class="clone-settings--sub-options-text">
                                <app-select [form]="cloneSettingsForm" [options]="autoMapEmployeeTypes"
                                    [isFieldMandatory]="false" [placeholder]="'Select auto map employee type'"
                                    [formControllerName]="'autoMapEmployee'"
                                    [phase]="ProgressPhase.ONBOARDING"></app-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Export Settings -->
            <div>
                <div fxLayoutAlign="start start" class="clone-settings--header-section"
                    data-cy="configuration-contents">
                    <div class="clone-settings--header-icon">
                        <img src="assets/images/svgs/general/setting.svg">
                    </div>
                    <div>
                        <h3>Export Settings</h3>
                        <h5 class="clone-settings--header-caption sub-text-color">In this section, you can configure how
                            and when expenses from Fyle need to be exported to Quickbooks Online</h5>
                    </div>
                </div>
                <div class="clone-settings--configuration-section">
                    <div fxLayout="row">
                        <div class="clone-settings--field-section" fxLayout="row" fxLayoutAlign="start center">
                            <p>Reimbursable Expense</p>
                            <img class="clone-settings--info-icon" src="assets/images/svgs/general/info-disabled.svg"
                                matTooltip="This section contains the settings for exporting Out-of pocket expenses from Fyle to Quickbooks"
                                matTooltipPosition="above" matTooltipClass="clone-settings">
                        </div>

                        <div class="clone-settings--export-type">
                            <app-toggle 
                                [isCloneSettings]="true" 
                                [form]="cloneSettingsForm"
                                [formControllerName]="'reimbursableExpense'">
                            </app-toggle>
                        </div>
                    </div>
                </div>

                <div *ngIf="cloneSettingsForm.value.reimbursableExpense">
                    <div class="clone-settings--configuration-section">
                        <div fxLayout="row">
                            <div class="clone-settings--field-section" fxLayout="row" fxLayoutAlign="start center">
                                <img class="clone-settings--sub-options-icon"
                                    src="assets/images/svgs/general/question-disabled.svg">
                                <p class="clone-settings--sub-options-text">State of export</p>
                                <img class="clone-settings--info-icon"
                                    src="assets/images/svgs/general/info-disabled.svg"
                                    matTooltip="You could choose to export expenses when they have been approved and are awaiting payment clearance, OR simply when they have been paid out."
                                    matTooltipPosition="above" matTooltipClass="clone-settings">
                            </div>
                            <app-select [form]="cloneSettingsForm" [options]="reimbursableExpenseStateOptions"
                                [isFieldMandatory]="true" [placeholder]="'Select the Expense State'"
                                [formControllerName]="'expenseState'" [phase]="ProgressPhase.ONBOARDING">
                            </app-select>
                        </div>
                    </div>

                    <div class="clone-settings--configuration-section">
                        <div fxLayout="row">
                            <div class="clone-settings--field-section" fxLayout="row" fxLayoutAlign="start center">
                                <img class="clone-settings--sub-options-icon"
                                    src="assets/images/svgs/general/document-disabled.svg">
                                <p class="clone-settings--sub-options-text">Mode of Export</p>
                                <img class="clone-settings--info-icon"
                                    src="assets/images/svgs/general/info-disabled.svg"
                                    matTooltip="Reimbursable expense in Fyle will be exported to Quickbooks"
                                    matTooltipPosition="above" matTooltipClass="clone-settings">
                            </div>
                            <app-select [form]="cloneSettingsForm" [options]="reimbursableExportOptions"
                                [isFieldMandatory]="true" [mandatoryErrorListName]="'Purchase Bill Date'"
                                [placeholder]="'Select the Purchase Bill date'"
                                [formControllerName]="'reimbursableExportType'" [phase]="ProgressPhase.ONBOARDING">
                            </app-select>
                        </div>
                    </div>

                    <div class="clone-settings--configuration-section">
                        <div fxLayout="row">
                            <div class="clone-settings--field-section" fxLayout="row" fxLayoutAlign="start center">
                                <img class="clone-settings--sub-options-icon"
                                    src="assets/images/svgs/general/employee-disabled.svg">
                                <p class="clone-settings--sub-options-text">To which Account should the Expense
                                    be posted to?</p>
                                <img class="clone-settings--info-icon"
                                    src="assets/images/svgs/general/info-disabled.svg"
                                    matTooltip="All Entries will be posted to this account." matTooltipPosition="above"
                                    matTooltipClass="clone-settings">
                            </div>

                            <div>
                                <div *ngIf="showExpenseAccountField()" class="clone-settings--sub-options-text">
                                    <app-select [form]="cloneSettingsForm" [qboAttributes]="expenseAccounts"
                                        [isFieldMandatory]="true" [placeholder]="'To which Expense Account'"
                                        [formControllerName]="'qboExpenseAccount'" [phase]="ProgressPhase.ONBOARDING">
                                    </app-select>
                                </div>

                                <div *ngIf="showBankAccountField()" class="clone-settings--sub-options-text">
                                    <app-select [form]="cloneSettingsForm" [qboAttributes]="bankAccounts"
                                        [isFieldMandatory]="true" [placeholder]="'To which Bank Account Account'"
                                        [formControllerName]="'bankAccount'" [phase]="ProgressPhase.ONBOARDING">
                                    </app-select>
                                </div>

                                <div *ngIf="showReimbursableAccountsPayableField()"
                                    class="clone-settings--sub-options-text">
                                    <app-select [form]="cloneSettingsForm" [qboAttributes]="accountsPayables"
                                        [isFieldMandatory]="true" [placeholder]="'To which Expense Account'"
                                        [formControllerName]="'accountsPayable'" [phase]="ProgressPhase.ONBOARDING">
                                    </app-select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clone-settings--configuration-section">
                        <div fxLayout="row">
                            <div class="clone-settings--field-section" fxLayout="row" fxLayoutAlign="start center">
                                <img class="clone-settings--sub-options-icon"
                                    src="assets/images/svgs/general/calendar-disabled.svg">
                                <p class="clone-settings--sub-options-text">Date of export</p>
                                <img class="clone-settings--info-icon"
                                    src="assets/images/svgs/general/info-disabled.svg"
                                    matTooltip="The selected date will reflect in expenses exported to Quickbooks Online"
                                    matTooltipPosition="above" matTooltipClass="clone-settings">
                            </div>

                            <app-select [form]="cloneSettingsForm" [options]="reimbursableExpenseGroupingDateOptions"
                                [isFieldMandatory]="true" [placeholder]="'Select the Purchase Bill date'"
                                [formControllerName]="'reimbursableExportDate'" [phase]="ProgressPhase.ONBOARDING">
                            </app-select>
                        </div>
                    </div>

                    <div class="clone-settings--configuration-section">
                        <div fxLayout="row">
                            <div class="clone-settings--field-section" fxLayout="row" fxLayoutAlign="start center">
                                <img class="clone-settings--sub-options-icon"
                                    src="assets/images/svgs/general/tabs-disabled.svg">
                                <p class="clone-settings--sub-options-text">How should the expenses be grouped?</p>
                                <img class="clone-settings--info-icon"
                                    src="assets/images/svgs/general/info-disabled.svg"
                                    matTooltip="You could choose to export expenses when they have been approved and are awaiting payment clearance, OR simply when they have been paid out."
                                    matTooltipPosition="above" matTooltipClass="clone-settings">
                            </div>

                            <app-select [form]="cloneSettingsForm" [options]="expenseGroupingFieldOptions"
                                [isFieldMandatory]="true" [placeholder]="'Select expense export grouping'"
                                [formControllerName]="'reimbursableExportGroup'" [phase]="ProgressPhase.ONBOARDING">
                            </app-select>
                        </div>
                    </div>
                </div>
                
                <div class="clone-settings--configuration-section">
                    <div fxLayout="row">
                        <div class="clone-settings--field-section" fxLayout="row" fxLayoutAlign="start center">
                            <p>Corporate Card Expense</p>
                            <img class="clone-settings--info-icon"
                                src="assets/images/svgs/general/info-disabled.svg"
                                matTooltip="This section contains the settings for exporting Out-of pocket expenses from Fyle to Quickbooks"
                                matTooltipPosition="above" matTooltipClass="clone-settings">
                        </div>

                        <div class="clone-settings--export-type">
                            <app-toggle [isCloneSettings]="true" [form]="cloneSettingsForm"
                                [formControllerName]="'creditCardExpense'"></app-toggle>
                        </div>
                    </div>
                </div>


                <div *ngIf="cloneSettingsForm.value.creditCardExpense">
                    <div class="clone-settings--configuration-section">
                        <div fxLayout="row">
                            <div class="clone-settings--field-section" fxLayout="row" fxLayoutAlign="start center">
                                <img class="clone-settings--sub-options-icon"
                                    src="assets/images/svgs/general/question-disabled.svg">
                                <p class="clone-settings--sub-options-text">State of export</p>
                                <img class="clone-settings--info-icon"
                                    src="assets/images/svgs/general/info-disabled.svg"
                                    matTooltip="You could choose to export expenses when they have been approved and are awaiting payment clearance, OR simply when they have been paid out."
                                    matTooltipPosition="above" matTooltipClass="clone-settings">
                            </div>
                            <app-select [form]="cloneSettingsForm" [options]="cccExpenseStateOptions"
                                [isFieldMandatory]="true" [placeholder]="'Select the Expense State'"
                                [formControllerName]="'cccExpenseState'" [phase]="ProgressPhase.ONBOARDING">
                            </app-select>
                        </div>
                    </div>

                    <div class="clone-settings--configuration-section">
                        <div fxLayout="row">
                            <div class="clone-settings--field-section" fxLayout="row" fxLayoutAlign="start center">
                                <img class="clone-settings--sub-options-icon"
                                    src="assets/images/svgs/general/document-disabled.svg">
                                <p class="clone-settings--sub-options-text">Mode of Export</p>
                                <img class="clone-settings--info-icon"
                                    src="assets/images/svgs/general/info-disabled.svg"
                                    matTooltip="Reimbursable expense in Fyle will be exported to Quickbooks"
                                    matTooltipPosition="above" matTooltipClass="clone-settings">
                            </div>
                            <app-select [form]="cloneSettingsForm" [options]="cccExpenseExportOptions"
                                [isFieldMandatory]="true" [mandatoryErrorListName]="'Purchase Bill Date'"
                                [placeholder]="'Select the Purchase Bill date'"
                                [formControllerName]="'creditCardExportType'" [phase]="ProgressPhase.ONBOARDING">
                            </app-select>
                        </div>
                    </div>

                    <div class="clone-settings--configuration-section">
                        <div fxLayout="row">
                            <div class="clone-settings--field-section" fxLayout="row" fxLayoutAlign="start center">
                                <img class="clone-settings--sub-options-icon"
                                    src="assets/images/svgs/general/tabs-disabled.svg">
                                <p class="clone-settings--sub-options-text">How should the expenses be grouped?</p>
                                <img class="clone-settings--info-icon"
                                    src="assets/images/svgs/general/info-disabled.svg"
                                    matTooltip="You could choose to export expenses when they have been approved and are awaiting payment clearance, OR simply when they have been paid out."
                                    matTooltipPosition="above" matTooltipClass="clone-settings">
                            </div>

                            <app-select [form]="cloneSettingsForm" [options]="expenseGroupingFieldOptions"
                                [isFieldMandatory]="true" [placeholder]="'Select expense export grouping'"
                                [formControllerName]="'creditCardExportGroup'" [phase]="ProgressPhase.ONBOARDING">
                            </app-select>
                        </div>
                    </div>

                    <div class="clone-settings--configuration-section">
                        <div fxLayout="row">
                            <div class="clone-settings--field-section" fxLayout="row" fxLayoutAlign="start center">
                                <img class="clone-settings--sub-options-icon"
                                    src="assets/images/svgs/general/calendar-disabled.svg">
                                <p class="clone-settings--sub-options-text">Date of export</p>
                                <img class="clone-settings--info-icon"
                                    src="assets/images/svgs/general/info-disabled.svg"
                                    matTooltip="The selected date will reflect in expenses exported to Quickbooks Online"
                                    matTooltipPosition="above" matTooltipClass="clone-settings">
                            </div>

                            <app-select [form]="cloneSettingsForm" [options]="cccExpenseGroupingDateOptions"
                                [isFieldMandatory]="true" [placeholder]="'Select the Purchase Bill date'"
                                [formControllerName]="'creditCardExportDate'" [phase]="ProgressPhase.ONBOARDING">
                            </app-select>
                        </div>
                    </div>

                    <div class="clone-settings--configuration-section">
                        <div fxLayout="row">
                            <div class="clone-settings--field-section" fxLayout="row" fxLayoutAlign="start center">
                                <img class="clone-settings--sub-options-icon"
                                    src="assets/images/svgs/general/calendar-disabled.svg">
                                <p class="clone-settings--sub-options-text">Set Default Credit Card Account as</p>
                                <img class="clone-settings--info-icon"
                                    src="assets/images/svgs/general/info-disabled.svg"
                                    matTooltip="The selected date will reflect in expenses exported to Quickbooks Online"
                                    matTooltipPosition="above" matTooltipClass="clone-settings">
                            </div>

                            <div *ngIf="showCreditCardAccountField()">
                                <app-select [form]="cloneSettingsForm" [qboAttributes]="cccAccounts"
                                    [isFieldMandatory]="true" [placeholder]="'Select Default Credit Card Account'"
                                    [formControllerName]="'defaultCCCAccount'" [phase]="ProgressPhase.ONBOARDING">
                                </app-select>
                            </div>

                            <div *ngIf="showDebitCardAccountField()">
                                <app-select [form]="cloneSettingsForm" [qboAttributes]="bankAccounts"
                                    [isFieldMandatory]="true" [placeholder]="'Select Default Debit Card Account as'"
                                    [formControllerName]="'defaultDebitCardAccount'" [phase]="ProgressPhase.ONBOARDING">
                                </app-select>
                            </div>

                            <div *ngIf="showDefaultCreditCardVendorField()">
                                <app-select [form]="cloneSettingsForm" [qboAttributes]="vendors"
                                    [isFieldMandatory]="true" [placeholder]="'Select default corporate card vendor'"
                                    [formControllerName]="'defaultCreditCardVendor'" [phase]="ProgressPhase.ONBOARDING">
                                </app-select>
                            </div>
                        </div>
                    </div>
                    
                    <div *ngIf="showCCCAccountsPayableField() && !showReimbursableAccountsPayableField()">
                        <div class="clone-settings--configuration-section">
                            <div fxLayout="row">
                                <div class="clone-settings--field-section" fxLayout="row"
                                    fxLayoutAlign="start center">
                                    <img class="clone-settings--sub-options-icon"
                                        src="assets/images/svgs/general/calendar-disabled.svg">
                                    <p class="clone-settings--sub-options-text">Select Accounts Payable Account</p>
                                    <img class="clone-settings--info-icon"
                                        src="assets/images/svgs/general/info-disabled.svg"
                                        matTooltip="The selected date will reflect in expenses exported to Quickbooks Online"
                                        matTooltipPosition="above" matTooltipClass="clone-settings">
                                </div>

                                <app-select [form]="cloneSettingsForm" [qboAttributes]="accountsPayables"
                                    [isFieldMandatory]="true"
                                    [placeholder]="'The integration will post the offset credit entry in Bill to the selected Accounts Payable Account.'"
                                    [formControllerName]="'accountsPayable'" [phase]="ProgressPhase.ONBOARDING">
                                </app-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Import Settings -->
            <div>
                <div fxLayoutAlign="start start" class="clone-settings--header-section"
                    data-cy="configuration-contents">
                    <div class="clone-settings--header-icon">
                        <img src="assets/images/svgs/general/setting.svg">
                    </div>
                    <div>
                        <h3>Import Settings</h3>
                        <h5 class="clone-settings--header-caption sub-text-color">In this section, you can configure how
                            the dimensions you import from Quickbooks should be mapped in Fyle</h5>
                    </div>
                </div>

                <div class="clone-settings--field-header-section">
                    <div fxLayoutAlign="start center" class="clone-settings--field-header">
                        <div class="clone-settings--qbo-header">
                            Quickbooks Field
                        </div>
                        <div>
                            Fyle Field
                        </div>
                    </div>
                </div>
                
                <div>
                    <div *ngIf="cloneSettingsForm.value.chartOfAccount" fxLayoutAlign="space-between center" class="clone-settings--coa-import-section"
                        (mouseenter)="hoveredIndex.categoryImport= 1" (mouseleave)="hoveredIndex.categoryImport= -1">
                        <div fxLayoutAlign="start center">
                            <div fxLayoutAlign="start center" class="clone-settings--qbo-field">
                                <p class="clone-settings--qbo-field-text">
                                    Chart of Accounts
                                </p>
                            </div>

                            <img src="assets/images/svgs/general/connect-arrow.svg">

                            <div fxLayoutAlign="start center" class="clone-settings--qbo-field">
                                <p class="clone-settings--qbo-field-text">
                                    Category
                                </p>
                            </div>

                            <div class="clone-settings--coa-list clone-settings--cta-text pointer"
                                [matMenuTriggerFor]="menu">
                                View Accounts
                                <img class="clone-settings--coa-list-icon"
                                    src="assets/images/svgs/actions/arrow-mark-down-pink.svg">
                            </div>
                            <mat-menu formArrayName="chartOfAccountTypes" #menu="matMenu">
                                <div *ngFor="let chartOfAccountType of chartOfAccountTypes.controls; let i = index"
                                    [formGroupName]="i" mat-menu-item (click)="$event.stopPropagation()">
                                    <mat-checkbox formControlName="enabled" [checked]="chartOfAccountType.value.enabled"
                                        [disabled]="chartOfAccountType.value.name === 'Expense'">
                                        {{ chartOfAccountType.value.name }}
                                    </mat-checkbox>
                                </div>
                            </mat-menu>
                        </div>
                        <div *ngIf="hoveredIndex.categoryImport === 1">
                            <img matTooltip="Delete" matTooltipPosition="left" matTooltipClass="left" width="18px"
                                height="20px" src="assets/images/svgs/actions/delete.svg"
                                class="clone-settings--delete-icon pointer" (click)="disableImportCoa()">
                        </div>
                    </div>
                    
                    <div formArrayName="expenseFields">
                        <div *ngFor="let expenseField of expenseFields.controls; let i = index" [formGroupName]="i"
                            fxLayoutAlign="space-between center" class="clone-settings--coa-import-section"
                            (mouseenter)="hoveredIndex.expenseFieldImport= i"
                            (mouseleave)="hoveredIndex.expenseFieldImport= -1">
                            <div>
                                <div fxLayoutAlign="space-between center">
                                    <div fxLayoutAlign="start center" class="clone-settings--qbo-field">
                                        <p class="clone-settings--qbo-field-text">
                                            {{ expenseField.value.destination_field | titlecase }}
                                        </p>
                                    </div>

                                    <img src="assets/images/svgs/general/connect-arrow.svg">

                                    <mat-form-field floatLabel="always" appearance="outline"
                                        class="import-settings--fyle-field">
                                        <mat-select placeholder="Select a field from Fyle"
                                            formControlName="source_field" data-cy="select-field">
                                            <mat-option *ngFor="let fyleExpenseField of fyleExpenseFields"
                                                [value]="fyleExpenseField" data-cy="select-option">
                                                {{ fyleExpenseField.split('_').join(' ') | titlecase }}
                                                <img *ngIf="fyleExpenseField === expenseField.value.source_field"
                                                    src="assets/images/svgs/general/tick-pink.svg"
                                                    class="selected-value-check-mark">
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="expenseField.touched && !expenseField.valid && !expenseField.disabled" class="clone-settings--error-message">
                                            <app-mandatory-error-message *ngIf="expenseField.get('source_field')?.errors?.required" [listName]="'field'"></app-mandatory-error-message>
                                            <app-mandatory-error-message *ngIf="expenseField.get('source_field')?.errors?.unique" [customErrorMessage]="'Fyle Field should be unique'"></app-mandatory-error-message>
                                        </div>
                                        <div class="mat-select-arrow-closed"></div>
                                    </mat-form-field>

                                    <p *ngIf="!expenseField.value.source_field"
                                        class="clone-settings--coa-list sub-text-color">or</p>
                                    <p *ngIf="!expenseField.value.source_field"
                                        class="clone-settings--coa-list pointer clone-settings--cta-text"
                                        (click)="createExpenseField(expenseField.value.destination_field)">
                                        Create a new field in Fyle
                                    </p>
                                </div>
                            </div>

                            <div *ngIf="i === hoveredIndex.expenseFieldImport">
                                <img matTooltip="Delete" matTooltipPosition="left" matTooltipClass="left" width="18px"
                                    height="20px" src="assets/images/svgs/actions/delete.svg"
                                    class="clone-settings--delete-icon pointer" (click)="deleteExpenseField(i, expenseField)">
                            </div>
                        </div>
                    </div>
                    
                    <div *ngIf="cloneSettingsForm.value.taxCode" fxLayoutAlign="space-between center" class="clone-settings--coa-import-section"
                    (mouseenter)="hoveredIndex.taxImport= 1" (mouseleave)="hoveredIndex.taxImport= -1">
                    <div fxLayoutAlign="start center">
                        <div fxLayoutAlign="start center" class="clone-settings--qbo-field">
                            <p class="clone-settings--qbo-field-text">
                                Tax Code
                            </p>
                        </div>

                        <img src="assets/images/svgs/general/connect-arrow.svg">

                        <div fxLayoutAlign="start center" class="clone-settings--qbo-field clone-settings--tax-group-field">
                            <p class="clone-settings--qbo-field-text">
                                Tax Group
                            </p>
                        </div>

                        <mat-form-field floatLabel="always" appearance="outline"
                            class="import-settings--fyle-field">
                            <mat-select placeholder="Select Default Tax Code"
                                formControlName="defaultTaxCode" [compareWith]="helperService.compareObjects">
                                <app-simple-text-search *ngIf="taxCodes" [page]="SimpleSearchPage.CONFIGURATION"
                                    [searchType]="SimpleSearchType.SELECT_FIELD" [form]="cloneSettingsForm"></app-simple-text-search>
                                <div *ngFor="let option of taxCodes | search : cloneSettingsForm.value.searchOption">
                                    <mat-option [ngClass]="{'search-zero-state': option && option.value === 'No result found'}"
                                        [matTooltip]="option.value" [matTooltipDisabled]="option.value.length <= 40"
                                        matTooltipPosition="above" matTooltipClass="above" (click)="helperService.clearSearchText(cloneSettingsForm)"
                                        [value]="{name: option.value, id: option.destination_id}">
                                        <p (click)="$event.stopPropagation()" *ngIf="option.value === 'No result found'"
                                            class="align-center italic">{{ option.value }}</p>
                                        <p *ngIf="option.value !== 'No result found'">{{ option.value }}</p>
                                        <img *ngIf="(cloneSettingsForm.value.defaultTaxCode | json) === ({name: option.value, id: option.destination_id} | json)"
                                            src="assets/images/svgs/general/tick-pink.svg" class="selected-value-check-mark">
                                    </mat-option>
                                </div>
                            </mat-select>
                            <div class="clone-settings--error-message">
                                <app-mandatory-error-message *ngIf="cloneSettingsForm.controls.defaultTaxCode.touched && !cloneSettingsForm.controls.defaultTaxCode.valid && !cloneSettingsForm.controls.defaultTaxCode.disabled" [listName]="'Tax group'"></app-mandatory-error-message>
                            </div>
                            <div class="mat-select-arrow-closed"></div>
                        </mat-form-field>
                    </div>
                    <div *ngIf="hoveredIndex.taxImport === 1">
                        <img matTooltip="Delete" matTooltipPosition="left" matTooltipClass="left" width="18px"
                            height="20px" src="assets/images/svgs/actions/delete.svg"
                            class="clone-settings--delete-icon pointer" (click)="disableImportTax()">
                    </div>
                </div>
                    
                    <div *ngIf="additionalQboExpenseFields.length || !cloneSettingsForm.value.chartOfAccount || !cloneSettingsForm.value.taxCode" fxLayoutAlign="start center" class="clone-settings--coa-import-section pointer clone-settings--add-field-section" [matMenuTriggerFor]="qboAdditionalFields">
                        <p class="clone-settings--cta-text clone-settings--add-field">Add Fields</p>
                        <img src="assets/images/svgs/actions/arrow-mark-down-pink.svg">
                    </div>
                    <mat-menu #qboAdditionalFields="matMenu">
                        <button *ngIf="!cloneSettingsForm.value.chartOfAccount" mat-menu-item (click)="enableAccountImport()">
                            Accounts
                        </button>
                        <button *ngFor="let qboField of additionalQboExpenseFields; let i = index" mat-menu-item (click)="addExpenseField(qboField)">
                            {{ qboField.destination_field | titlecase }}
                        </button>
                        <button *ngIf="!cloneSettingsForm.value.taxCode" mat-menu-item (click)="enableTaxImport()">
                            Tax Codes
                        </button>
                    </mat-menu>
                </div>      
            </div>

            <div>
                <div fxLayoutAlign="space-between center" class="clone-settings--footer-inner-section">
                    <div fxLayoutAlign="start center">
                        <div fxLayoutAlign="start center">
                            <div fxLayout="row" fxLayoutAlign="space-between center"
                                class="configuration--back-btn pointer clone-settings--back-btn"
                                (click)="navigateToPreviousStep()"
                                matTooltip="You will be able to re-configure the tenant by clicking here"
                                matTooltipPosition="above" matTooltipClass="clone-settings">
                                <img src="assets/images/svgs/actions/arrow-mark-left.svg"
                                    class="configuration--back-btn-arrow" width="13.5px" height="11.25px" />
                                <h5 class="btn-icon align-center">Back</h5>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center center"
                                class="configuration--back-btn clone-settings--reset-btn pointer"
                                (click)="resetConfiguraions()"
                                matTooltip="You will be redirected to the step-wise configuration flow where you can configure each setting individually."
                                matTooltipPosition="above" matTooltipClass="clone-settings">
                                <h5>Reset Configurations</h5>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--submit-btn pointer"
                        [ngClass]="!cloneSettingsForm.valid || isSaveInProgress ? 'btn-disabled' : 'btn-enabled'"
                        (click)="save()">
                        <h5 class="btn-cta-text-with-icon single-line-text">
                            {{ isSaveInProgress ? 'Saving' : 'Save & Continue'}}
                        </h5>
                        <img *ngIf="!isSaveInProgress" class="btn-icon"
                            src="assets/images/svgs/actions/arrow-mark-right.svg" />
                        <div *ngIf="isSaveInProgress" class="btn-loader">
                            <mat-spinner diameter="20" color="white"></mat-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-onboarding-footer *ngIf="!isLoading"></app-onboarding-footer>