<div class="mapping">
  <app-mapping-header-section [mappingStats]="mappingStats" [totalCardActive]="true" [customMapping]="true"></app-mapping-header-section>
  
  <div class="custom-mapping">
    <div class="custom-mapping--content">
      <div class="custom-mapping--title-section">
        <p class="custom-mapping--title">Select a dimension in QBO that you want to map to an expense field in Fyle</p>
        <h5 class="sub-text-color">Mapping would help you export Fyle expenses with the correct dimension value to QBO.</h5>
      </div>

      <div [formGroup]="mappingSettingForm" class="custom-mapping--mapping-section" *ngIf="showMappingList">
        <table formArrayName="mappingSetting" mat-table [dataSource]="mappingRows">
          <ng-container matColumnDef="qbo">
            <th mat-header-cell *matHeaderCellDef>
              <h4 class="dashboard-resolve-mapping-dialog--row-heading-fyle">Dimension from QBO</h4>
            </th>
            <td (mouseover)="showDeleteButton(element, true)" (mouseout)="showDeleteButton(element, false)" mat-cell *matCellDef="let element">
              <mat-form-field [formGroupName]="element.index" floatLabel="always" appearance="outline" class="dashboard-resolve-mapping-dialog--form-field">
                <mat-select formControlName="qboField" placeholder="Select a Dimension from QBO">
                  <mat-option *ngFor="let option of qboFields" [matTooltip]="option" [matTooltipDisabled]="option.length <= 40" matTooltipPosition="above" matTooltipClass="above" (click)="updateMappingRow(element.index, option)" [value]="option">
                    <p>{{ option | titlecase | trimCharacter: 38 }}</p>
                    <img *ngIf="option === mappingSetting.value[element.index].qboField" src="assets/images/svgs/general/tick-pink.svg" class="selected-value-check-mark">
                  </mat-option>
                </mat-select>
                <div class="mat-select-arrow-closed"></div>
              </mat-form-field>
            </td>
          </ng-container>
      
          <ng-container matColumnDef="fyle">
            <th mat-header-cell *matHeaderCellDef>
              <h4 class="dashboard-resolve-mapping-dialog--row-heading-qbo">Expense field from Fyle</h4>
            </th>
            <td (mouseover)="showDeleteButton(element, true)" (mouseout)="showDeleteButton(element, false)" mat-cell *matCellDef="let element">
              <mat-form-field [formGroupName]="element.index" floatLabel="always" appearance="outline" class="dashboard-resolve-mapping-dialog--form-field">
                <mat-select formControlName="fyleField" placeholder="Select an Expense field from Fyle">
                  <mat-option *ngFor="let option of fyleFields" [matTooltip]="option.display_name" [matTooltipDisabled]="option.display_name.length <= 40" matTooltipPosition="above" matTooltipClass="above" (click)="updateMappingRow(element.index, '', option.attribute_type)" [value]="option.attribute_type">
                    <p>{{ option.display_name | titlecase | trimCharacter: 38 }}</p>
                    <img *ngIf="option.attribute_type === mappingSetting.value[element.index].fyleField" src="assets/images/svgs/general/tick-pink.svg" class="selected-value-check-mark">
                  </mat-option>
                </mat-select>
                <div class="mat-select-arrow-closed"></div>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="cta">
            <th mat-header-cell *matHeaderCellDef></th>
            <td (mouseover)="showDeleteButton(element, true)" (mouseout)="showDeleteButton(element, false)" mat-cell *matCellDef="let element">
              <div *ngIf="!element.existingMapping" fxLayout="row" fxLayoutAlign="center center" class="custom-mapping--create-btn">
                <div fxLayout="row" fxLayoutAlign="space-between center" class="pointer configuration--submit-btn" [ngClass]="mappingSetting.controls[element.index].valid ? 'btn-enabled' : 'btn-disabled'" (click)="saveMappingSetting(element.index)">
                  <h5 class="btn-cta-text-without-icon single-line-text">
                    Create Mapping
                  </h5>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="clear">
            <th mat-header-cell *matHeaderCellDef></th>
            <td (mouseover)="showDeleteButton(element, true)" (mouseout)="showDeleteButton(element, false)" mat-cell *matCellDef="let element">
              <!-- TODO: dark version -->
              <img *ngIf="!element.existingMapping" width="12px" height="12px" src="assets/images/svgs/actions/clear-search.svg" class="search-select--clear-icon pointer" [ngClass]="{'search-select--clear-icon-smaller-area': true}" (click)="clearMappingRow(element.index)">
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td (mouseover)="showDeleteButton(element, true)" mat-cell *matCellDef="let element">
              <!-- TODO: dark version -->
              delete
              <img *ngIf="element.isDeleteButtonAllowed && element.existingMapping" width="12px" height="12px" src="assets/images/svgs/actions/clear-search.svg" class="search-select--clear-icon pointer" [ngClass]="{'search-select--clear-icon-smaller-area': true}" (click)="clearMappingRow(element.index)">
            </td>
          </ng-container>
      
          <tr class="dashboard-resolve-mapping-dialog--heading" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr class="dashboard-resolve-mapping-dialog--row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <button *ngIf="qboFields.length > mappingRows.data.length" (click)="displayMappingList()">Add</button>

      <!-- TODO: update ngif -->
      <app-zero-state-with-illustration *ngIf="!showMappingList" [page]="ZeroStatePage.custom_mapping"></app-zero-state-with-illustration>

      <div *ngIf="!showMappingList" fxLayout="row" fxLayoutAlign="center center" class="custom-mapping--create-btn">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="pointer configuration--submit-btn btn-enabled" (click)="displayMappingList()">
          <h5 class="btn-cta-text-without-icon single-line-text">
            Create Custom Mapping
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
