<div class="mapping">
  <app-mapping-header-section [mappingStats]="mappingStats" [totalCardActive]="true" [customMapping]="true"></app-mapping-header-section>

  <div class="custom-mapping">
    <div class="custom-mapping--content">
      <div class="custom-mapping--title-section">
        <p class="custom-mapping--title">Select a dimension in QBO that you want to map to an expense field in Fyle</p>
        <h5 class="sub-text-color">Mapping would help you export Fyle expenses with the correct dimension value to QBO.</h5>
      </div>

      <div class="custom-mapping--mapping-section" *ngIf="showMappingList || isLoading">
        <div>
          <div class="custom-mapping--table-header" fxLayout="row">
            <h5 fxLayoutAlign=" center" class="custom-mapping--table-header-text custom-mapping--table-header-col-1">
              Dimension from QBO
            </h5>
            <h5 fxLayoutAlign=" center" class="custom-mapping--table-header-text custom-mapping--table-header-col-2">
              Expense field from Fyle
            </h5>
          </div>

          <div *ngIf="!isLoading">
            <div [formGroup]="mappingSettingForm" *ngFor="let element of mappingRows; let i = index">
              <div formArrayName="mappingSetting" fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between center" (mouseenter)="showDeleteButton(element, true)" (mouseleave)="showDeleteButton(element, false)">
                  <div fxLayout="row">
                    <div class="custom-mapping--qbo-field">
                      <mat-form-field *ngIf="!element.existingMapping" [formGroupName]="i" floatLabel="always" appearance="outline" class="custom-mapping--form-field">
                        <mat-select formControlName="qboField" placeholder="Select a Dimension from QBO">
                          <mat-option *ngFor="let option of qboFields" [matTooltip]="option" [matTooltipDisabled]="option.length <= 40" matTooltipPosition="above" matTooltipClass="above" (click)="updateMappingRow(i, option)" [value]="option">
                            <p>{{ option | titlecase | trimCharacter: 38 }}</p>
                            <img *ngIf="option === mappingSetting.value[i].qboField" src="assets/images/svgs/general/tick-pink.svg" class="selected-value-check-mark">
                          </mat-option>
                        </mat-select>
                        <div class="mat-select-arrow-closed"></div>
                      </mat-form-field>
                      <div fxLayoutAlign=" center" *ngIf="element.existingMapping" class="custom-mapping--mapped-row sub-text-color">
                        <p class="custom-mapping--mapped-field-text">{{ element.qboField | titlecase | snakeCaseToSpaceCase }}</p>
                      </div>
                    </div>

                    <div class="custom-mapping--fields-separator"></div>

                    <div class="custom-mapping--fyle-field">
                      <mat-form-field *ngIf="!element.existingMapping" [formGroupName]="i" floatLabel="always" appearance="outline" class="custom-mapping--form-field">
                        <mat-select formControlName="fyleField" placeholder="Select an Expense field from Fyle">
                          <mat-option *ngFor="let option of fyleFields" [matTooltip]="option.display_name" [matTooltipDisabled]="option.display_name.length <= 40" matTooltipPosition="above" matTooltipClass="above" (click)="updateMappingRow(i, '', option.attribute_type)" [value]="option.attribute_type">
                            <p>{{ option.display_name | titlecase | trimCharacter: 38 }}</p>
                            <img *ngIf="option.attribute_type === mappingSetting.value[i].fyleField" src="assets/images/svgs/general/tick-pink.svg" class="selected-value-check-mark">
                          </mat-option>
                        </mat-select>
                        <div class="mat-select-arrow-closed"></div>
                      </mat-form-field>
                      <div fxLayoutAlign=" center" *ngIf="element.existingMapping" class="custom-mapping--mapped-row sub-text-color">
                        <p class="custom-mapping--mapped-field-text">{{ element.fyleField | titlecase | snakeCaseToSpaceCase }}</p>
                      </div>
                    </div>

                    <div *ngIf="!element.existingMapping" fxLayout="row" fxLayoutAlign="center center" class="custom-mapping--create-mapping-setting-cta">
                      <div fxLayout="row" fxLayoutAlign="space-between center" class="pointer configuration--submit-btn" [ngClass]="mappingSetting.controls[i].valid ? 'btn-enabled' : 'btn-disabled'" (click)="saveMappingSetting(i)">
                        <h5 class="btn-cta-text-without-icon single-line-text">
                          Create Mapping
                        </h5>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="!element.existingMapping" class="custom-mapping--delete-section">
                    <img width="18px" height="18px" src="assets/images/svgs/actions/clear-mapping.svg" class="search-select--clear-icon pointer" [ngClass]="{'search-select--clear-icon-smaller-area': true}" (click)="clearMappingRow(i)">
                  </div>

                  <div *ngIf="element.isDeleteButtonAllowed && element.existingMapping" class="custom-mapping--delete-section">
                    <img matTooltip="Delete" matTooltipPosition="below" matTooltipClass="below" width="18px" height="20px" src="assets/images/svgs/actions/delete.svg" class="search-select--clear-icon pointer" [ngClass]="{'search-select--clear-icon-smaller-area': true}" (click)="deleteMappingSetting(element.index)">
                  </div>
                </div>
                <div fxLayout="row" class="custom-mapping--mapping-row-separator"></div>
              </div>
            </div>
          </div>

          <!-- Shimmers -->
          <div *ngIf="isLoading">
            <div class="skeleton-loader-list-view--init-box-section" fxLayout="row" fxLayoutAlign=" center">
              <div class="shimmers skeleton-loader-list-view--init-box-custom-mapping"></div>
              <div class="shimmers skeleton-loader-list-view--end-box"></div>
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="row" *ngIf="!isLoading && showMappingList && qboFields.length > 0 && fyleFields.length > 0 && isExistingRowMapped" class="custom-mapping--add-section">
        <div fxLayout="row" class="pointer" (click)="createMappingRow()">
          <img class="custom-mapping--add-icon" width="15px" height="25px" src="assets/images/svgs/actions/plus.svg">
          <h4 class="actionable-text">Add New Mapping</h4>
        </div>
      </div>

      <div fxLayout="row" *ngIf="!isLoading && showMappingList && isExistingRowMapped && !(qboFields.length > 0 && fyleFields.length > 0)" class="custom-mapping--limit-exceeded-section paragraph">
        <div fxLayout="row" class="custom-mapping--limit-exceeded-content">
          <img class="custom-mapping--error-icon" width="17px" height="17px" src="assets/images/svgs/general/info-error.svg">
          <div>
            <p class="custom-mapping--limit-exceeded-text">Limit reached</p>
            <p class="custom-mapping--limit-exceeded-caption">
              You have set up Custom mapping for all the dimensions allowed in the Integration.
              Please reach out to <b>support@fylehq.com</b> in case you have any specific questions. 
            </p>
          </div>
        </div>
      </div>

      <app-zero-state-with-illustration *ngIf="!isLoading && !showMappingList" [page]="ZeroStatePage.custom_mapping"></app-zero-state-with-illustration>

      <div *ngIf="!isLoading && !showMappingList" fxLayout="row" fxLayoutAlign="center center" class="custom-mapping--create-btn">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="pointer configuration--submit-btn btn-enabled" (click)="createMappingRow()">
          <h5 class="btn-cta-text-without-icon single-line-text">
            Create Custom Mapping
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
