<app-onboarding-stepper [currentStep]="'Advanced Settings'"></app-onboarding-stepper>

<!-- <div *ngIf="!isLoading" fxLayout="column" fxLayoutAlign="space-around center">
  <div>
    Advanced Settings
  </div>
  <div>
    <form [formGroup]="advancedSettingsForm">
      Auto-sync payment status
      <mat-select placeholder="Select auto sync payment status" formControlName="paymentSync">
        <mat-option *ngFor="let option of paymentSyncOptions" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>

      <div *ngIf="advancedSettingsForm.value.paymentSync && advancedSettingsForm.value.paymentSync === 'fyle_to_qbo'">
        <mat-select placeholder="Select bill payment account" formControlName="billPaymentAccount">
          <mat-option *ngFor="let option of billPaymentAccounts" [value]="{id: option.id, name: option.value}">
            {{ option.value }}
          </mat-option>
        </mat-select>
      </div>

      <div>
        Post entries in the next open accounting period
        <mat-slide-toggle color="accent" formControlName="changeAccountingPeriod">
        </mat-slide-toggle>
      </div>

      <div>
        Create a single itemized offset credit entry for Journal
        <mat-slide-toggle color="accent" formControlName="singleCreditLineJE">
        </mat-slide-toggle>
      </div>

      <div>
        Auto-Create Vendors
        <mat-slide-toggle color="accent" formControlName="autoCreateVendors">
        </mat-slide-toggle>
      </div>

      <div>
        Schedule automatic import and export
        <mat-select placeholder="Select frequency" formControlName="exportScheduleFrequency">
          <mat-option>
            None
          </mat-option>
          <mat-option *ngFor="let option of frequencyIntervals" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </div>

      <div>
        <button [disabled]="!advancedSettingsForm.valid" color="accent" mat-flat-button (click)="save()">
          Complete Setup
        </button>
      </div>

    </form>
  </div>
</div> -->

<div *ngIf="!isLoading">
  <div class="advanced-settings">
    <div class="advanced-settings--section">
      <div class="advanced-settings--contents">
        <app-configuration-step-header-section></app-configuration-step-header-section>
        <form [formGroup]="advancedSettingsForm" class="advanced-settings--field">
          <div class="advanced-settings--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <div fxLayout="row" fxLayoutAlign="space-between start" class="advanced-settings--field-label-section">
                <img src="assets/images/calendar.svg" class="advanced-settings--icon">
                <div>
                  <div class="advanced-settings--field-header">
                    Schedule automatic export
                  </div>
                  <h5 class="advanced-settings--field-label sub-text-color">
                    Set up a schedule to frequently automate the export of expenses from Fyle to Quickbooks Online
                  </h5>
                </div>
              </div>
              <div class="advanced-settings--input-section">
                <mat-slide-toggle class="advanced-settings--toggle-form-field" color="accent" formControlName="exportSchedule"></mat-slide-toggle>
              </div>
            </div>

            <div *ngIf="advancedSettingsForm.value.exportSchedule" class="advanced-settings--schedule-frequency-section">
              <mat-form-field floatLabel="always" appearance="outline" class="advanced-settings--form-field">
                <mat-select placeholder="Select frequency" formControlName="exportScheduleFrequency">
                  <mat-option *ngFor="let option of frequencyIntervals" [value]="option">
                    {{ option }} {{ option === 1 ? 'Hour' : 'Hours' }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="advanced-settings--schedule-note-section" fxLayout="row" fxLayoutAlign="space-between start">
              <div class="advanced-settings--schedule-note-content">
                <h5 class="sub-text-color">
                  NOTE: If you skip enabling the auto-schedule of export, you could still manually export the data from the <span class="bold">Dashboard</span>
                </h5>
              </div>
            </div>
          </div>

          <div class="advanced-settings--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <div fxLayout="row" fxLayoutAlign="space-between start" class="advanced-settings--field-label-section">
                <img src="assets/images/svgs/general/list.svg" class="advanced-settings--icon">
                <div>
                  <div class="advanced-settings--field-header">
                    Set description field in QuickBooks Online
                  </div>
                  <h5 class="advanced-settings--field-label sub-text-color">
                    Customize the data set you would like to pass to the description field of QBO while exporting expenses from Fyle
                  </h5>
                </div>
              </div>
              <div class="advanced-settings--input-section">
                <mat-form-field floatLabel="always" appearance="outline" class="advanced-settings--form-field">
                  <mat-select placeholder="Select and reorder the memo fields" formControlName="memoStructure" multiple>
                    <div cdkDropList (cdkDropListDropped)="drop($event)">
                      <mat-option *ngFor="let option of defaultMemoFields" [value]="option" cdkDrag>
                        {{ option | titlecase | snakeCaseToSpaceCase }}
                      </mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="advanced-settings--memo-preview-section">
              <h5 class="advanced-settings--memo-preview-text sub-text-color">
                Preview in QBO
              </h5>
              <div class="advanced-settings--memo-preview-area">
                <h5 class="advanced-settings--memo-preview">
                  {{ memoPreviewText }}
                </h5>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center" class="advanced-settings--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="advanced-settings--field-label-section">
              <img src="assets/images/calendar.svg" class="advanced-settings--icon">
              <div>
                <div class="advanced-settings--field-header">
                  Post entries in the next open accounting period
                </div>
                <h5 class="advanced-settings--field-label sub-text-color">
                  If the accounting period in QBO is closed, the expenses from Fyle will be exported with a date stamp of the first day next open accounting period.
                </h5>
              </div>
            </div>
            <div class="advanced-settings--input-section">
              <mat-slide-toggle class="advanced-settings--toggle-form-field" color="accent" formControlName="changeAccountingPeriod"></mat-slide-toggle>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center" class="advanced-settings--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="advanced-settings--field-label-section">
              <img src="assets/images/building.svg" class="advanced-settings--icon">
              <div>
                <div class="advanced-settings--field-header">
                  Auto-Create Vendors
                </div>
                <h5 class="advanced-settings--field-label sub-text-color">
                  While exporting reimbursable expenses from Fyle, the integration will automatically create a vendor if a match does not exist in QBO already.
                </h5>
              </div>
            </div>
            <div class="advanced-settings--input-section">
              <mat-slide-toggle class="advanced-settings--toggle-form-field" color="accent" formControlName="autoCreateVendors"></mat-slide-toggle>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center" class="advanced-settings--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="advanced-settings--field-label-section">
              <img src="assets/images/sync.svg" class="advanced-settings--icon">
              <div>
                <div class="advanced-settings--field-header">
                  Auto- Sync payment status for reimbursable expenses
                </div>
                <h5 class="advanced-settings--field-label sub-text-color">
                  When expense is marked paid in Fyle the transaction in QBO will be automatically be updated to Paid and vice versa.
                </h5>
              </div>
            </div>
            <div class="advanced-settings--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="advanced-settings--form-field">
                <mat-select placeholder="Select status for reimbursable expenses" formControlName="paymentSync">
                  <mat-option *ngFor="let option of paymentSyncOptions" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="advancedSettingsForm.value.paymentSync && advancedSettingsForm.value.paymentSync === 'fyle_to_qbo'" fxLayout="row" fxLayoutAlign="space-between center" class="advanced-settings--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="advanced-settings--field-label-section">
              <div class="advanced-settings--field-label-text-section-without-img">
                <div class="advanced-settings--field-header">
                  To which Payment account should the payment entries be posted?
                  <app-mandatory-field></app-mandatory-field>
                </div>
                <h5 class="advanced-settings--field-label sub-text-color">
                  Once the payment for the reimbursable expense is complete in Fyle, the payment entries will be posted to the selected Payment account in QBO.
                </h5>
              </div>
            </div>
            <div class="advanced-settings--input-section">
              <mat-form-field floatLabel="always" appearance="outline" class="advanced-settings--form-field">
                <mat-select placeholder="Select a Payment Account" formControlName="billPaymentAccount">
                  <app-simple-search-select [form]="advancedSettingsForm"></app-simple-search-select>
                  <mat-option [matTooltip]="option.value" [matTooltipDisabled]="option.value.length <= 40" matTooltipPosition="above" (click)="helperService.clearSearchText(advancedSettingsForm)" *ngFor="let option of billPaymentAccounts | search : advancedSettingsForm.value.searchOption" [value]="{id: option.id, name: option.value}">
                    {{ option.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center" class="advanced-settings--field-section">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="advanced-settings--field-label-section">
              <img src="assets/images/expense.svg" class="advanced-settings--icon">
              <div class="advanced-settings--field-label-text-section">
                <div class="advanced-settings--field-header">
                  Create a single itemized offset credit entry for Journal
                </div>
                <h5 class="advanced-settings--field-label sub-text-color">
                  Merge all Credits in a Journal to create a single entry.
                </h5>
              </div>
            </div>
            <div class="advanced-settings--input-section">
              <mat-slide-toggle class="advanced-settings--toggle-form-field" color="accent" formControlName="singleCreditLineJE"></mat-slide-toggle>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center"
            class="advanced-settings--field-section advanced-settings--footer-contents">
            <div fxLayout="row" class="advanced-settings--back-btn pointer" (click)="navigateToPreviousStep()">
              <img src="assets/images/arrow-mark-left.svg" class="advanced-settings--img-arrow-left" />
              <h5 class="advanced-settings--back-btn-text align-center">Back</h5>
            </div>
            <div fxLayout="row" class="advanced-settings--submit-btn pointer"
              [ngClass]="!advancedSettingsForm.valid ? 'btn-disabled' : 'btn-enabled'" (click)="save()">
              <h5 class="advanced-settings--submit-btn-text single-line-text">
                Save & Continue
              </h5>
              <img src="assets/images/arrow-mark-right.svg" class="advanced-settings--submit-btn-arrow-text" />
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <app-onboarding-footer></app-onboarding-footer>
</div>
