.export-log-table {
  &--sub-row {
    color: #A9ACBC;
  }

  &--reference-id {
    text-decoration-line: underline;
  }

  &--open-in-qbo {
    padding-left: 20px;
  }

  &--heading {
    background: #F5F5F5;
    border: 1px solid #DFDFE2;
    border-radius: 4px;
  }

  &--row {
    height: 70px;
      &:hover {
        background: #FAFCFF;
      }
  }
}

th {
  color: #2C304E;
  font-weight: 500;
}

::ng-deep .mat-tooltip {
  background: #2C304E;
  border-radius: 2px;
  color: #FFFFFF;
}
