<app-onboarding-stepper [currentStep]="'Export Settings'"></app-onboarding-stepper>
<!-- TODO: check content of all fields -->

<div class="configuration--section">
  <app-loader [phase]="'pre_onboarding'" [phase]="'pre_onboarding'" *ngIf="isLoading"></app-loader>
  <div *ngIf="!isLoading" class="configuration--contents">
    <app-configuration-step-header-section></app-configuration-step-header-section>
    <form [formGroup]="exportSettingsForm">
      <app-configuration-select-field
        [form]="exportSettingsForm"
        [options]="expenseStateOptions"
        [isFieldMandatory]="true"
        [iconPath]="'assets/images/svgs/actions/question-mark.svg'"
        [label]="'At which state should the expenses be ready to export from Fyle?'"
        [subLabel]="'You could choose to export expenses when they have been approved and are awaiting payment clearance, OR simply when they have been paid out.'"
        [placeholder]="'Select expense state'"
        [formControllerName]="'expenseState'"
        >
      </app-configuration-select-field>

      <app-configuration-toggle-field
        [form]="exportSettingsForm"
        [label]="'Export Reimbursable Expenses'"
        [subLabel]="'Enable this to export the reimbursable expenses from Fyle. If not enabled, any <span class=bold>out-of-pocket</span> expenses will not be exported to QBO.'"
        [formControllerName]="'reimbursableExpense'"
      >
      </app-configuration-toggle-field>

      <div *ngIf="exportSettingsForm.value.reimbursableExpense">
        <app-configuration-select-field
          [form]="exportSettingsForm"
          [options]="reimbursableExportTypes"
          [isFieldMandatory]="true"
          [iconPath]="'assets/images/svgs/general/expense.svg'"
          [label]="'How should the expenses be exported?'"
          [subLabel]="'Choose the type of transaction in Quickbooks Online to export your Fyle expenses.'"
          [placeholder]="'Select expense export type'"
          [formControllerName]="'reimbursableExportType'"
          >
        </app-configuration-select-field>

        <div *ngIf="showBankAccountField()">
          <app-configuration-select-field
            [form]="exportSettingsForm"
            [qboAttributes]="bankAccounts"
            [isFieldMandatory]="true"
            [label]="'To which Bank Account should the ' + exportSettingsForm.value.reimbursableExportType.toLowerCase() + ' be posted to?'"
            [subLabel]="'All the offset entry in the Journal will be posted to the selected Bank account'"
            [placeholder]="'Select Bank Account'"
            [formControllerName]="'bankAccount'"
            >
          </app-configuration-select-field>
        </div>

        <div *ngIf="showExpenseAccountField()">
          <app-configuration-select-field
            [form]="exportSettingsForm"
            [qboAttributes]="expenseAccounts"
            [isFieldMandatory]="true"
            [label]="'To which Expense Account should the ' + exportSettingsForm.value.reimbursableExportType.toLowerCase() + ' be posted to?'"
            [subLabel]="'The expenses exported will be added to the selected Expense Payment Account'"
            [placeholder]="'Select Expense Account'"
            [formControllerName]="'qboExpenseAccount'"
            >
          </app-configuration-select-field>
        </div>

        <div *ngIf="showReimbursableAccountsPayableField()">
          <app-configuration-select-field
            [form]="exportSettingsForm"
            [qboAttributes]="accountsPayables"
            [isFieldMandatory]="true"
            [label]="'To which Accounts Payable account should the Bill be posted to?'"
            [subLabel]="'The integration will post the offset credit entry in Bill to the selected Accounts Payable Account.'"
            [placeholder]="'Select accounts payable'"
            [formControllerName]="'accountsPayable'"
            >
          </app-configuration-select-field>
        </div>

        <div *ngIf="exportSettingsForm.value.reimbursableExportType">
          <app-configuration-select-field
            [form]="exportSettingsForm"
            [options]="expenseGroupingFieldOptions"
            [isFieldMandatory]="true"
            [iconPath]="'assets/images/svgs/general/tabs.svg'"
            [label]="'How should the expense in ' + exportSettingsForm.value.reimbursableExportType.toLowerCase() + ' be grouped?'"
            [subLabel]="'Grouping reflects how the expense entries of a ' + exportSettingsForm.value.reimbursableExportType.toLowerCase() + ' are posted in QBO. For example, grouping by payment exports all expenses within a Fyle payment queue as one record.'"
            [placeholder]="'Select expense export type'"
            [formControllerName]="'reimbursableExportGroup'"
            >
          </app-configuration-select-field>
        </div>

        <div *ngIf="exportSettingsForm.value.reimbursableExportType">
          <app-configuration-select-field
            [form]="exportSettingsForm"
            [options]="expenseGroupingDateOptions"
            [isFieldMandatory]="true"
            [iconPath]="'assets/images/svgs/general/calendar.svg'"
            [label]="'Set the ' + exportSettingsForm.value.reimbursableExportType.toLowerCase() + ' date as'"
            [subLabel]="'The selected date will reflect in expenses exported to QBO'"
            [placeholder]="'Select the ' + exportSettingsForm.value.reimbursableExportType.toLowerCase() + 'export'"
            [formControllerName]="'reimbursableExportDate'"
            >
          </app-configuration-select-field>
        </div>
      </div>

      <app-configuration-toggle-field
        [form]="exportSettingsForm"
        [label]="'Export Credit Card Expenses'"
        [subLabel]="'Enable this to export the corporate credit card expenses from Fyle. If not enabled, any expenses <span class=bold>Paid by Corporate Card</span> will not be exported to QBO.'"
        [formControllerName]="'creditCardExpense'"
      >
      </app-configuration-toggle-field>

      <div *ngIf="exportSettingsForm.value.creditCardExpense">
        <app-configuration-select-field
          [form]="exportSettingsForm"
          [options]="creditCardExportTypes"
          [isFieldMandatory]="true"
          [iconPath]="'assets/images/svgs/general/expense.svg'"
          [label]="'How should the expenses be exported?'"
          [subLabel]="'Choose the type of transaction in Quickbooks Online to export your corporate credit card expense from Fyle.'"
          [placeholder]="'Select expense export type'"
          [formControllerName]="'creditCardExportType'"
          >
        </app-configuration-select-field>

        <div *ngIf="showCreditCardAccountField()">
          <app-configuration-select-field
            [form]="exportSettingsForm"
            [qboAttributes]="cccAccounts"
            [isFieldMandatory]="true"
            [label]="'Set Default Credit Card Account as'"
            [subLabel]="'Post all your company credit card transactions to a default credit card account.'"
            [placeholder]="'Select Default Credit Card Vendor'"
            [formControllerName]="'defaultCCCAccount'"
            >
          </app-configuration-select-field>

        </div>

        <div *ngIf="showDebitCardAccountField()">
          <app-configuration-select-field
            [form]="exportSettingsForm"
            [qboAttributes]="bankAccounts"
            [isFieldMandatory]="true"
            [label]="'Set Default Debit Card Account as'"
            [subLabel]="'Post all your company debit card transactions to a default debit card account.'"
            [placeholder]="'Select Default Debit Card Account'"
            [formControllerName]="'defaultDebitCardAccount'"
            >
          </app-configuration-select-field>

        </div>

        <div *ngIf="showDefaultCreditCardVendorField()">
          <app-configuration-select-field
            [form]="exportSettingsForm"
            [qboAttributes]="vendors"
            [isFieldMandatory]="true"
            [label]="'Set default Credit Card Vendor as'"
            [subLabel]="'The default vendor will apply to all credit card transactions upon export.'"
            [placeholder]="'Select default credit card vendor'"
            [formControllerName]="'defaultCreditCardVendor'"
            >
          </app-configuration-select-field>

        </div>

        <div *ngIf="showCCCAccountsPayableField() && !showReimbursableAccountsPayableField()">
          <app-configuration-select-field
            [form]="exportSettingsForm"
            [qboAttributes]="accountsPayables"
            [isFieldMandatory]="true"
            [label]="'To which Accounts Payable account should the Bill be posted to?'"
            [subLabel]="'The integration will post the offset credit entry in Bill to the selected Accounts Payable Account.'"
            [placeholder]="'Select accounts payable'"
            [formControllerName]="'accountsPayable'"
            >
          </app-configuration-select-field>
        </div>

        <div *ngIf="exportSettingsForm.value.creditCardExportType">
          <app-configuration-select-field
            [form]="exportSettingsForm"
            [options]="expenseGroupingFieldOptions"
            [isFieldMandatory]="true"
            [iconPath]="'assets/images/svgs/general/tabs.svg'"
            [label]="'How should the expense in ' + exportSettingsForm.value.creditCardExportType.toLowerCase() + ' be grouped?'"
            [subLabel]="'Grouping reflects how the expense entries of a ' + exportSettingsForm.value.creditCardExportType.toLowerCase() + ' are posted in QBO. For example, grouping by payment exports all expenses within a Fyle payment queue as one record.'"
            [placeholder]="'Select expense export type'"
            [formControllerName]="'creditCardExportGroup'"
            >
          </app-configuration-select-field>
        </div>

        <div *ngIf="exportSettingsForm.value.creditCardExportType">
          <app-configuration-select-field
            [form]="exportSettingsForm"
            [options]="expenseGroupingDateOptions"
            [isFieldMandatory]="true"
            [iconPath]="'assets/images/svgs/general/calendar.svg'"
            [label]="'Set the ' + exportSettingsForm.value.creditCardExportType.toLowerCase() + ' date as'"
            [subLabel]="'The selected date will reflect in the corporate credit card expenses exported to QBO.'"
            [placeholder]="'Select the ' + exportSettingsForm.value.creditCardExportType.toLowerCase() + 'export'"
            [formControllerName]="'creditCardExportDate'"
            >
          </app-configuration-select-field>
        </div>
      </div>

      <app-configuration-step-footer-section [isButtonDisabled]="!exportSettingsForm.valid || saveInProgress" (navigateToPreviousStep)="navigateToPreviousStep()" (save)="save()"></app-configuration-step-footer-section>
    </form>
  </div>
</div>
<app-onboarding-footer *ngIf="!isLoading"></app-onboarding-footer>
