.export-log {
  margin-top: -200px;
  padding-left: 32px;
  padding-right: 32px;

  width: 1598px;
  @media only screen and (max-width: 1440px) {
    width: 1098px;
  }

  &--content {
    background: #FFFFFF;
    border-radius: 8px;
  }

  &--header-section {
    padding: 29px 32px 28px 32px;
  }

  &--simple-search {
    width: 374px;

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
      width: 325px !important;
      margin-top: 6px;
    }

    &.active {
      ::ng-deep .mat-select-arrow {
        display: none !important;
      }
    }
  }

  &--table {
    overflow: scroll;
    height: 680px;
    @media only screen and (max-width: 1440px) {
      height: 500px;
    }
  }

  &--date-filter {
    margin-top: 5px;
  }

  &--date-select-option {
    line-height: normal !important;
    height: 58px !important;
    font-size: 14px !important;
    color: #414562;
  }

  &--date-range {
    color: #A9ACBC;
  }

  &--selected-date {
    font-size: 14px;
  }

  &--date-field {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    width: 0;
    margin-left: -212px;
  }

  &--cancel-btn {
    background: #FFFFFF;
    border: 1px solid #DFDFE2;
    box-sizing: border-box;
    border-radius: 4px;
    width: 94px;
    height: 42px;
    margin-right: 16px;
  }

  &--cancel-btn-text {
    padding: 12px 24px;
  }

  &--done {
    background: linear-gradient(162.38deg, #FF3366 3.01%, #FE5196 111.5%);
    border: 1px solid #DFDFE2;
    box-sizing: border-box;
    border-radius: 4px;
    width: 83px;
    height: 42px;
    color: #FFFFFF;
  }

  &--done-text {
    padding: 12px 24px;
  }

  &--clear-date-filter {
    position: absolute;
    right: 12px;
  }
}
