<div class="configuration-main--bg">
</div>
<div *ngIf="!isLoading" class="export-log">
  <div class="export-log--content">
    <!-- header -->
    <div *ngIf="totalCount" class="export-log--header-section">
      <div fxLayout="row" class="export-log--simple-search">
        <app-simple-search-select [form]="exportLogForm" [placeholder]="'Search by Employee Name or Expense ID'" [showBackgroundColor]="false"></app-simple-search-select>

        <!-- TODO: fix date filter -->
        <app-simple-search-select [form]="exportLogForm" [placeholder]="'Select date range'" [showBackgroundColor]="false"></app-simple-search-select>
      </div>
    </div>
    <!-- header -->

    <div class="export-log--table">
      <app-export-log-table [displayedColumns]="displayedColumns" [totalCount]="totalCount" [expenseGroups]="expenseGroups"></app-export-log-table>
      <app-zero-state-with-illustration [page]="'export_log'" [form]="exportLogForm" [data]="expenseGroups" [searchTerm]="'Employee Name or Expense ID'"></app-zero-state-with-illustration>
    </div>

    <app-paginator *ngIf="expenseGroups.filteredData.length" [totalCount]="totalCount" [limit]="limit" [offset]="offset" (pageChangeEvent)="getExpenseGroups($event)"></app-paginator>
  </div>
</div>
