<div fxLayout="row" fxLayoutAlign="space-between center"
  class="configuration--field-section configuration--footer-contents">
  <div *ngIf="!showBackButton"></div>
  <div fxLayout="row" *ngIf="showBackButton" (click)="navigate()">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--back-btn pointer">
      <img src="assets/images/svgs/actions/arrow-mark-left.svg" class="configuration--back-btn-arrow" width="13.5px" height="11.25px" />
      <h5 class="btn-icon align-center">Back</h5>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--submit-btn pointer" [ngClass]="isButtonDisabled ? 'btn-disabled' : 'btn-enabled'" (click)="saveChanges()">
    <h5 class="single-line-text" [ngClass]="ctaText === 'Save' ? 'btn-cta-text-without-icon' : 'btn-cta-text-with-icon'">
      {{ ctaText }}
    </h5>
    <img *ngIf="ctaText !== 'Save'" class="btn-icon" src="assets/images/svgs/actions/arrow-mark-right.svg" />
  </div>
</div>
