<div fxLayout="row" fxLayoutAlign="space-between center" class="mapping--stats-section">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="mapping-header-section--card pointer" [ngClass]="{'mapping-header-section--card-active': totalCardActive}" (click)="switchView(true)">
      <div fxLayout="row" fxLayoutAlign="end center">
        <img *ngIf="totalCardActive" src="assets/images/svgs/general/tick-filled.svg" class="mapping-header-section--card-active-icon">
      </div>
      <div class="mapping-header-section--card-content-section" [ngClass]="{'mapping-header-section--card-content-section-active': totalCardActive}">
        <div class="mapping-header-section--card-tag"></div>
        <div class="mapping-header-section--card-content">
          <h5 class="mapping-header-section--card-content-text-header single-line-text">Total {{ sourceType !== 'category' ? (sourceType | titlecase | snakeCaseToSpaceCase) + 's' : 'Categories' }}</h5>
          <span class="mapping-header-section--card-content-text-count">{{ mappingStats?.all_attributes_count }}</span>
        </div>
      </div>
    </div>
    <div class="mapping-header-section--card pointer" [ngClass]="{'mapping-header-section--card-active': !totalCardActive}" (click)="switchView()">
      <div fxLayout="row" fxLayoutAlign="end center">
        <img *ngIf="!totalCardActive" src="assets/images/svgs/general/tick-filled.svg" class="mapping-header-section--card-active-icon">
      </div>
      <div class="mapping-header-section--card-content-section" [ngClass]="{'mapping-header-section--card-content-section-active': !totalCardActive}">
        <div class="mapping-header-section--card-tag"></div>
        <div class="mapping-header-section--card-content">
          <h5 class="mapping-header-section--card-content-text-header single-line-text">Unmapped {{ sourceType !== 'category' ? (sourceType | titlecase | snakeCaseToSpaceCase) + 's' : 'Categories' }}</h5>
          <span class="mapping-header-section--card-content-text-count">{{ mappingStats?.unmapped_attributes_count }}</span>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="mapping-header-section--auto-map-btn-section">
    <div matTooltip="Instantly sync and automap the employees in Fyle and QBO by {{ autoMapEmployee | titlecase | snakeCaseToSpaceCase }}" matTooltipPosition="left" matTooltipClass="left" *ngIf="autoMapEmployee" class="mapping-header-section--auto-map-btn pointer" fxLayout="row" fxLayoutAlign="space-between center" (click)="triggerAutoMapEmployee()">
      <img src="assets/images/svgs/general/auto-map.svg" width="16px" height="16px" class="btn-cta-text-with-icon">
      <h5 class="btn-icon mapping-header-section--auto-map-btn-text align-center">
        Automap Employee(s)
      </h5>
    </div>
  </div>
</div>
