<div fxLayout="row" fxLayoutAlign="space-between center" class="navbar">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="navbar--logo-section">
      <div class="navbar--fyle-logo">
        <img alt="Fyle" src="assets/images/svgs/logo/fyle.svg" width="70px" height="60px"/>
      </div>
      <div class="navbar--plus">
        +
      </div>
      <div>
        <img alt="Quickbooks Online" src="assets/images/svgs/logo/qbo.svg" width="110px" height="60px" class="navbar--qbo-logo" />
      </div>
    </div>
    <img *ngIf="showBackButton && activePage" class="navbar--back-btn pointer" (click)="navigateBack()" src="assets/images/svgs/actions/arrow-mark-left-back.svg" />
    <h3 [ngClass]="showBackButton && activePage ? 'navbar--page-name-with-back-btn' : 'navbar--page-name'">{{ activePage | titlecase | snakeCaseToSpaceCase }}</h3>
    <div *ngIf="activePage" class="navbar--switcher-divider"></div>
    <div (click)="switchToOldApp()" *ngIf="activePage" fxLayout="row" fxLayoutAlign="space-between center" class="configuration--back-btn pointer">
      <img src="assets/images/svgs/actions/sync.svg" class="configuration--back-btn-arrow" width="13.5px" height="11.25px" />
      <h5 class="btn-icon align-center">Switch to Old Design</h5>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="navbar--profile-help">
    <div #helpButton (click)="showOrHideHelpDropdown()" fxLayout="row" class="navbar--help-section pointer">
      <div class="navbar--help-icon">
        <img src="assets/images/svgs/actions/help.svg" />
      </div>
      <div class="navbar--help-text navbar--small-text">
        Help
      </div>
    </div>
    <div fxLayout="row" #menu>
      <div (click)="showOrHideProfileDropdown()" class="navbar--avatar-section pointer">
        <p class="navbar--avatar-text align-center">
          {{user.full_name[0]}}
        </p>
      </div>

      <div class="navbar--profile-section">
        <div (click)="showOrHideProfileDropdown()">
          <div class="pointer">
            {{ user.full_name | trimCharacter: 20 }}
          </div>
          <div class="navbar--user-org navbar--small-text sub-text-color pointer">
            {{ user.org_name | trimCharacter: 26 }}
          </div>
        </div>
        <div *ngIf="isProfileExpanded" class="profile">
          <div class="profile--section">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="navbar--avatar-section">
                <p class="navbar--avatar-text align-center">
                  {{user.full_name[0]}}
                </p>
              </div>

              <h3 class="profile--name">
                {{ user.full_name | trimCharacter: 20 }}
              </h3>
            </div>

            <div class="profile--divider"></div>

            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>Fyle Organization</div>
              <div class="actionable-text" (click)="switchFyleOrg()">Switch Organization</div>
            </div>

            <div>
              <div fxLayout="row" fxLayoutAlign="start center" class="profile--org-section">
                <div class="profile--org-name">
                  {{ user.org_name | trimCharacter: 26 }}
                </div>
                <div class="profile--state-pill profile--state-pill-active">
                  <h4 class="profile--state-pill-text align-center">Active</h4>
                </div>
              </div>
              <div class="profile--currency sub-text-color">
                {{ currency }}
              </div>
            </div>

            <div class="profile--divider"></div>

            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>Quickbooks Online Company</div>
              <div *ngIf="isQboConnected" class="actionable-text" (click)="disconnectQbo()">Disconnect</div>
            </div>

            <div>
              <div fxLayout="row" fxLayoutAlign="start center" class="profile--org-section">
                <div *ngIf="qboCompanyName" class="profile--org-name">
                  {{ qboCompanyName | trimCharacter: 26 }}
                </div>
                <div class="profile--state-pill" [ngClass]="isQboConnected ? 'profile--state-pill-active' : 'profile--state-pill-inactive'">
                  <h4 class="profile--state-pill-text align-center">{{ isQboConnected ? 'Active': 'Inactive' }}</h4>
                </div>
              </div>
              <div class="profile--currency sub-text-color">
                {{ currency }}
              </div>
            </div>

            <div class="profile--divider"></div>

            <div fxLayout="row" fxLayoutAlign="center center" class="profile--signout-section pointer" (click)="logout()">
              <img src="assets/images/svgs/actions/signout.svg" />
              <div class="profile--signout-text">Signout</div>
            </div>

          </div>
        </div>
        <div *ngIf="isHelpSectionExpanded" class="help paragraph" #help>
          <div class="help--help-center-section">
            <h5 fxLayout="row" fxLayoutAlign=" center" class="help--help-center-content pointer" (click)="helperService.openExternalLink(RedirectLink.FYLE_HELP)">
              Visit Help Centre
              <img class="help--open-in-new-tab-icon" src="assets/images/svgs/actions/open-in-new-tab-help.svg" width="14px" height="14px"/>
            </h5>
          </div>

          <div class="help--divider"></div>

          <div class="help--email-section">
            <h5>Still facing issues?</h5>
            <h5 class="sub-text-color help--email-info-text">
              Write your query to us along with screenshots (if any) at
            </h5>
            <h5 (click)="helperService.openExternalLink('mailto:support@fylehq.com')" class="help--support-email pointer">support@fylehq.com</h5>
          </div>
        </div>
      </div>

      <div (click)="showOrHideProfileDropdown()" class="profile--dropdown pointer">
        <img #menuButton src='{{ "assets/images/svgs/actions/arrow-mark-" + (isProfileExpanded ? "up" : "down") + "-dashboard.svg"}}' />
      </div>
    </div>
  </div>
</div>
