.navbar {
  height: 72px;
  padding: 6px 16px;

  &--fyle-logo {
    padding-top: 15.5px;
    padding-bottom: 18.54px;
  }

  &--plus {
    padding: 0px 16px;
    margin-bottom: 8px;
  }

  &--small-text {
    font-size: 14px;
  }

  &--profile-help {
    padding: 14px 16px 14px 0px;
  }

  &--help-section {
    padding-right: 32px
  }

  &--help-icon {
    padding: 12px 12px;
  }

  &--help-text {
    padding: 12px 0px 12px 0px;
    margin-top: 2px;
    color: #2C304E;
  }

  &--avatar-section {
    background: #2C304E;
    border-radius: 48px;
    width: 37px;
    height: 37px;
  }

  &--avatar-text {
    color: #FFFFFF;
    margin: 0;
    padding: 9px 13px;
  }

  &--profile-section {
    padding: 1.5px 0px 1.5px 10px;
  }

  &--user-org {
    padding-top: 1px;
  }
}
