<app-onboarding-stepper [currentStep]="'Connect to QBO'"></app-onboarding-stepper>

Fyle QBO Connector code lies here
<div fxLayout="column" fxLayoutAlign="space-around center">
  <div>
    Connect to Quickbooks Online
  </div>
  <button *ngIf="!isQboConnected" mat-button color="accent" (click)="connectQbo()">Connect to QBO</button>
  <div *ngIf="isQboConnected">
    Already connected to QBO
    <div>
      <button mat-flat-button color="accent" (click)="continueToNextStep()">Continue</button>
    </div>
  </div>
</div>

<!-- <div style="height: 585px;">
  <div style="background: #F5F5F5;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  height: 457px;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;margin: -60px 0px; padding: 0px 171px 56px 171px;">
    Hello
  </div>
  out
</div> -->

