.qbo-connector {
  min-height: 585px;

  &--section {
    padding: 0px 171px 56px 171px;
  }

  &--contents {
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    min-height: 457px;
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;
    margin: -60px 0px;
  }

  &--header-section {
    min-height: 135px;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 8px 8px 0px 0px;
  }

  &--header-inner-section {
    min-height: 71px;
    padding: 32px 32px 32px 32px;
  }

  &--header-text {
    font-weight: 500;
    padding: 0px 778px 12px 0px;
  }

  &--connection-section {
    min-height: 240px;
  }

  &--connection-blocks {
    padding-top: 9px;
  }

  &--fyle-org-section {
    padding: 56px 114px 0px 114px;
  }

  &--fyle-section-text {
    padding-bottom: 18px;
  }

  &--switch-org-section {
    padding: 16px 94.5px 56px 94.5px
  }

  &--org-switch-separator {
    border-top: 1px dashed #F5F5F5;
    width: 302px;
  }

  &--switch-org-inner-section {
    padding-top: 8px;
  }

  &--switch-org-info-text {
    width: 302px;
  }

  &--connection-in-progress-text {
    width: 398px;
  }

  &--switch-org-text {
    color: #FF3366;
    padding-top: 8px;
  }

  &--connection-top-block {
    height: 88.62px;
  }

  &--connection-block-separator {
    border-top: 1px dashed #F5F5F5;
    transform: rotate(89.78deg);
    padding: 0px 49.5px;
  }

  &--qbo-org-section {
    padding: 55px 138.5px 0px 138.5px;
  }

  &--footer {
    height: 82px;
  }

  &--footer-section {
    padding: 20px 20px;
  }

  &--submit-btn {
    border-radius: 4px;
    width: 134px;
    height: 42px;
    color: #FFFFFF;
  }

  &--submit-btn-text {
    padding: 12px 10.25px 12px 24px;
  }

  &--submit-btn-arrow-text {
    padding: 15.37px 26.25px 15.38px 0px;
  }
}
