.qbo-connector {
  min-height: 585px;

  &--connection-blocks {
    padding-top: 9px;
  }

  &--fyle-org-section {
    padding: 56px 114px 0px 114px;
  }

  &--fyle-section-text {
    padding-bottom: 18px;
  }

  &--switch-org-section {
    padding: 16px 94.5px 56px 94.5px
  }

  &--org-switch-separator {
    border-top: 1px dashed #F5F5F5;
    width: 302px;
  }

  &--switch-org-inner-section {
    padding-top: 8px;
  }

  &--switch-org-info-text {
    width: 302px;
  }

  &--connection-in-progress-text {
    width: 398px;
  }

  &--switch-org-text {
    padding-top: 8px;
  }

  &--connection-top-block {
    height: 88.62px;
  }

  &--connection-block-separator {
    border-top: 1px dashed #F5F5F5;
    transform: rotate(89.78deg);
    padding: 0px 49.5px;
  }

  &--qbo-org-section {
    padding: 55px 138.5px 0px 138.5px;
  }

  &--submit-btn {
    border-radius: 4px;
    width: 134px;
    height: 42px;
    color: #FFFFFF;
  }

  &--submit-btn-arrow-text {
    padding: 15.37px 26.25px 15.38px 0px;
  }
}
