.dashboard {
  width: 1658px;
  @media only screen and (max-width: 1440px) {
    width: 1178px;
  }
}


.export {
  padding-left: 24px;
  padding-right: 24px;

  &--core-section {
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    box-shadow: 0px 16px 20px -5px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: -95px;
    height: 120px;
  }

  &--content-section {
    padding: 25px 40px 25px 24px;
  }

  &--info-section {
    width: 735px;
  }

  &--info-text {
    padding-top: 8px;
    color: #2C304E;
  }

  &--arrow-section {
    width: 24px;
    padding-right: 12px;
  }

  &--info-icon {
    padding-left: 6px;
    margin-top: 4px;
  }
}

.past-export {
  padding: 28px 24px 0px 24px;

  &--section {
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    box-shadow: 0px 24px 12px rgba(22, 21, 40, 0.02);
    border-radius: 8px;
    width: 348px;
  }

  &--content-section {
    padding: 24px;
  }

  &--header {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 16px;
  }

  &--header-divider {
    border: 1px solid #DFDFE2;
    width: 346px;
    margin-left: -25px;
  }

  &--divider {
    @extend .past-export--header-divider;
    border: 1px solid #F5F5F5;
  }

  &--row {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &--detail {
    width: 140px;
    padding-right: 26px;
  }

  &--view-expense {
    width: 15px;
    padding-right: 84px;
  }

  &--view-expense-text {
   color: #FF3366;
  }
}

.errors {
  padding: 28px 24px 0px 0px;

  &--section {
    width: 1235px;
    @media only screen and (max-width: 1440px) {
      width: 760px;
    }

    min-height: 450px;
    max-height: 550px;
    @media only screen and (max-width: 1440px) {
      min-height: 350px;
      max-height: 450px;
    }

    overflow-x: hidden;
    overflow-y: scroll;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    box-shadow: 0px 24px 12px -8px rgba(22, 21, 40, 0.02);
    border-radius: 8px;
  }

  &--zero-state-section {
    min-height: 635px;
    @media only screen and (max-width: 1440px) {
      min-height: 460px;
    }
  }

  &--header {
    padding: 24px 0px 16px 24px;
    font-size: 20px;
  }

  &--info-icon {
    padding-left: 6px;
    margin-top: 7px;
  }

  &--header-divider {
    border: 1px solid #DFDFE2;
    width: 1230px;
    @media only screen and (max-width: 1440px) {
      width: 757px;
    }
  }

  &--divider {
    @extend .errors--header-divider;
    border: 1px solid #F5F5F5;
    margin-left: -25px;
  }

  &--integration-error-section {
    background: #FAFCFF;
    height: 72px;
  }

  &--integration-error-contents {
    padding: 15px 0px 15px 23px;
  }

  &--integration-error-sub-header {
    padding-top: 4px;
  }

  &--mapping-error-section {
    padding: 0px 24px 0px 24px;
    font-size: 14px;
  }

  &--resolve-btn {
    background: #2C304E;

    &:hover {
      box-shadow: 0px 4px 4px rgba(44, 48, 78, 0.1);
    }
  }

  &--mapping-error-contents {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &--qbo-error {
    font-size: 14px;
    padding: 20px 24px;
  }

  &--resolved-stat {
    padding-top: 4px;
  }

  &--resolved-icon {
    padding-right: 6px;
  }

  &--resolve-btn-text {
    padding-right: 4px;
  }

  &--qbo-error-short-description {
    padding-top: 8px;
    font-size: 12px;
    width: 750px;
    @media only screen and (max-width: 1440px) {
      width: 450px;
    }
  }

  &--view-expenses {
    width: 100px;
    height: 29px;
    background: #FFFFFF;
    border: 1px solid #DFDFE2;
    box-sizing: border-box;
    border-radius: 4px;

    &:hover {
      box-shadow: 0px 4px 4px rgba(44, 48, 78, 0.1);
    }
  }

  &--view-expenses-text {
    color: #2C304E;
  }
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

.loader {
  &--export-arrow {
    height: 19px;
    width: 19px;
    margin-right: 12px;
  }

  &--export-header {
    height: 19px;
    width: 158px;
  }

  &--export-sub-header {
    height: 19px;
    width: 222px;
  }

  &--export-btn {
    height: 42px;
    width: 256px;
  }

  &--past-export-header {
    width: 158px;
  }

  &--past-export-sub-header {
    width: 222px;
  }

  &--past-export-sub-header-with-space {
    @extend .loader--past-export-sub-header;
    margin-top: 44px;
  }

  &--past-export-avatar-section {
    margin-top: 44px;
  }

  &--past-export-avatar {
    border-radius: 8px;
    height: 28px;
    width: 28px;
    margin-right: 8px;
  }

  &--past-export-line-header {
    height: 19px;
    width: 120px;
  }

  &--past-export-line-sub-header {
    height: 19px;
    width: 60px;
    margin-top: 15px;
    margin-left: 36px;
  }

  &--errors-header {
    height: 19px;
    width: 222px;
    margin: 19px 0px 18px 25px;
  }

  &--errors-type-header {
    width: 222px;
    height: 19px;
    margin: 19px 0px 18px 25px;
  }

  &--errors-type-sub-header {
    width: 149px;
    height: 19px;
    margin: 19px 0px 18px 25px;
  }

  &--error-box {
    margin: 25px 16px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 6px;
    height: 68px;
  }

  &--error-type {
    width: 206px;
    height: 19px;
    margin-left: 16px;
  }

  &--error-btn {
    margin-right: 16px;
    width: 104px;
    height: 44px;
  }
}
