<div class="stepper">
  <div class="stepper--header">
    <p class="stepper--header-text align-center">
      Complete the following steps to configure your Integration.
    </p>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="stepper--steps">
    <div *ngFor="let onboardingStep of onboardingSteps">
      <div fxLayout="column">
        <div fxLayout="row">
          <div class="stepper--step" (click)="navigate(onboardingStep.completed, onboardingStep.route)" [ngClass]="[!onboardingStep.active && onboardingStep.completed ? 'stepper--step-completed pointer' : 'stepper--step-active cursor-disabled', !onboardingStep.active && !onboardingStep.completed ? 'stepper--step-inactive cursor-disabled' : '']">
            <img *ngIf="onboardingStep.active" src='{{ "assets/images/svgs/stepper/" + onboardingStep.icon + ".svg" }}' class="stepper--icon">
            <img *ngIf="!onboardingStep.active && onboardingStep.completed" src="assets/images/svgs/general/tick.svg" class="stepper--icon">
            <img *ngIf="!onboardingStep.active && !onboardingStep.completed" src='{{ "assets/images/svgs/stepper/" + onboardingStep.icon + "-inactive.svg" }}' class="stepper--icon">
          </div>
          <div *ngIf="onboardingStep.step !== 'Advanced Settings'" [ngClass]="[!onboardingStep.active && onboardingStep.completed ? 'stepper--horizontal-separator-completed' : 'stepper--horizontal-separator', !onboardingStep.active && !onboardingStep.completed ? 'stepper--horizontal-separator' : '']"></div>
        </div>
        <div (click)="navigate(onboardingStep.completed, onboardingStep.route)" class="stepper--step-name" [ngClass]="[!onboardingStep.active && onboardingStep.completed ? 'pointer' : 'cursor-disabled', !onboardingStep.active && !onboardingStep.completed ? 'sub-text-color cursor-disabled' : '']">
          <h5>{{onboardingStep.step}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
