.export-log-child-dialog {
  &--header-section {
    padding: 32px 0px 24px 32px;
  }

  &--close-icon {
    padding-right: 35px;
  }

  &--horizontal-separator {
    border-top: 1px solid #F5F5F5;
    width: 100%;
    align-self: center;
  }

  &--simple-search {
    width: 374px;
    padding: 8px 0px 24px 20px;
  }

  &--reference-id {
    text-decoration-line: underline;
  }

  &--heading {
    background: #F5F5F5;
    border: 1px solid #DFDFE2;
    border-radius: 4px;
  }

  &--row {
    height: 70px;
      &:hover {
        background: #FAFCFF;
      }
  }

  &--zero-state-img {
    padding-top: 180px;
  }

  &--zero-state-text {
    color: #2C304E;
  }

  &--zero-state-text-small {
    color: #5A5D72;
    width: 298px;
    padding-top: 8px;
  }
}

th {
  color: #2C304E;
  font-weight: 500;
}

::ng-deep .mat-tooltip {
  background: #2C304E;
  border-radius: 2px;
  white-space: nowrap;
  color: #FFFFFF;

  margin-right: 110px !important;
  @media only screen and (max-width: 1440px) {
    margin-right: 120px !important;
  }
}
