<div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="export-log-child-dialog--header-section">
    <h3>
      Expenses {{ expenses.filteredData.length ? "(" + expenses.filteredData.length + ")" : '' }}
    </h3>
    <img src="assets/images/svgs/actions/close.svg" (click)="this.dialogRef.close(true);"
      class="export-log-child-dialog--close-icon sub-text-color pointer" />
  </div>

  <div class="export-log-child-dialog--horizontal-separator"></div>

  <div fxLayout="row" class="export-log-child-dialog--simple-search">
    <app-simple-search-select [form]="form" [placeholder]="'Search by Expense ID'" [showBackgroundColor]="false"></app-simple-search-select>
  </div>

  <div *ngIf="!isLoading">
    <app-export-log-child-table [displayedColumns]="displayedColumns" [expenses]="expenses"></app-export-log-child-table>
  </div>

  <app-zero-state-with-illustration [page]="'export_log'" [form]="form" [data]="expenses" [searchTerm]="'Expense ID'"></app-zero-state-with-illustration>
</div>
