<app-header *ngIf="!isLoading"></app-header>

<div *ngIf="!isLoading" fxLayout="row" fxLayoutAlign="start start">
  <div class="side-nav-bar">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="navbar--logo-section side-nav-bar--logo-header-section">
      <div class="navbar--fyle-logo">
        <img alt="Fyle" src="assets/images/svgs/logo/fyle.svg" width="70px" height="60px"/>
      </div>
      <div class="navbar--plus">
        +
      </div>
      <div>
        <img alt="QuickBooks Online" src="assets/images/svgs/logo/qbo.svg" width="125px" height="60px" class="navbar--qbo-logo" />
      </div>
    </div>
    <div *ngFor="let module of modules" class="side-nav-bar--default-text-color">
      <div class="pointer" [ngClass]="[module.isActive && !module.childPages.length ? 'side-nav-bar--active-module' : '', module.isActive ? 'side-nav-bar--active-module-text' : '']" (click)="navigate(module)">
        <div *ngIf="module.name === 'Mappings' || module.name === 'Configuration'" class="side-nav-bar--separator"></div>
        <div fxLayout="row">
          <div *ngIf="module.isActive && (!module.childPages.length || !module.isExpanded)" class="side-nav-bar--active-tag-module"></div>
          <div fxLayout="row" [ngClass]="[module.childPages.length ? 'side-nav-bar--module-block-content-expandable' : 'side-nav-bar--module-block-content', module.isActive && (!module.childPages.length || !module.isExpanded) ? 'side-nav-bar--active-module-block' : '', module.isActive && (!module.childPages.length || !module.isExpanded) ? 'side-nav-bar--active-module-block-expandable' : '']">
            <img height="22px" width="22px" src="{{ module.isActive ? module.iconPath + '-active.svg' :  module.iconPath + '.svg' }}">
            <h4 class="side-nav-bar--module-block-text side-nav-bar--text-properties capitalize">{{ module.name }}</h4>
            <img *ngIf="module.childPages.length && !module.isActive" height="22px" width="22px"
              src='{{ "assets/images/svgs/actions/arrow-mark-" + (module.isExpanded ? "up" : "down") + ".svg"}}'>
            <img *ngIf="module.childPages.length && module.isActive" height="22px" width="22px"
              src='{{ "assets/images/svgs/actions/arrow-mark-" + (module.isExpanded ? "up-active" : "down-active") + ".svg"}}'>
          </div>
        </div>
      </div>
      <div *ngFor="let childPage of module.childPages; let i = index">
        <div>
          <div fxLayout="row">
            <div *ngIf="childPage.isActive && module.isExpanded" class="side-nav-bar--active-tag-module"></div>
            <div *ngIf="module.isExpanded" fxLayout="row" class="side-nav-bar--module-block-content single-line-text pointer"
              [ngClass]="[childPage.isActive ? 'side-nav-bar--active-child': '', childPage.isActive ? 'side-nav-bar--active-module-text': '', childPage.isActive && module.isExpanded ? 'side-nav-bar--active-module-block' : '']" (click)="navigate(childPage)">
              <h4 matTooltip="{{childPage.name | titlecase | snakeCaseToSpaceCase}}" [matTooltipDisabled]="childPage.name.length > 25 === false" matTooltipPosition="right" matTooltipClass="right" class="side-nav-bar--module-block-text-inner side-nav-bar--text-properties capitalize"> {{ childPage.name | titlecase | snakeCaseToSpaceCase }}</h4>
            </div>
          </div>
          <div *ngIf="module.isExpanded && module.name === 'Mappings' && module.childPages.length - 2 === i" class="side-nav-bar--separator"></div>
        </div>
      </div>
      <div #walkthrough *ngIf="showWalkThroughTooltip && module.name === 'Mappings'" class="walk-through-tooltip paragraph">
        <div class="walk-through-tooltip--arrow-left">
          <img src="assets/images/svgs/general/arrow-left-tooltip.svg">
        </div>
        <div fxLayout="row" class="walk-through-tooltip--header-section">
          <p class="walk-through-tooltip--header-text">
            You can find the newly created custom mapping here.
          </p>
          <img class="walk-through-tooltip--close-icon pointer" src="assets/images/svgs/actions/close-white.svg" width="10px" height="10px">
        </div>
        <div fxLayoutAlign="end center" class="walk-through-tooltip--cta-section">
          <div class="walk-through-tooltip--cta pointer" fxLayoutAlign="center center">
            Got it!
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="side-nav-bar--child-contents">
    <router-outlet></router-outlet>
  </div>
</div>
