<div class="dashboard-header-section--bg dashboard-header-section--greeting-section">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3>👋 Hello {{ name }}!</h3>

    <div fxLayout="row" class="configuration--back-btn pointer dashboard-header-section--sync-btn" (click)="refreshQBODimensions()"
      matTooltip="Instantly refresh and sync the data dimensions from QBO" matTooltipPosition="left">
      <img src="assets/images/svgs/actions/sync.svg" class="configuration--img-arrow-left" />
      <h5 class="configuration--back-btn-text align-center">Sync</h5>
    </div>
  </div>
</div>
