.dashboard-header-section {
  &--bg {
    height: 140px;
    background: linear-gradient(97.33deg, #E1EEFF 26.8%, #FFE4FB 97.18%);
  }

  &--greeting-section {
    padding: 31px 24px 28px 24px;
  }

  &--sync-btn {
    background: #FFFFFF;
  }
}
