<div class="stepper">
  <div class="stepper--header">
    <p class="stepper--header-text align-center">
      Complete the following steps to configure your Integration.
    </p>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="stepper--steps">
    <div *ngFor="let onboardingStep of onboardingSteps">
      <div fxLayout="column">
        <div fxLayout="row">
          <div class="stepper--step" [ngClass]="[!onboardingStep.active && onboardingStep.completed ? 'stepper--step-completed' : '', !onboardingStep.active && !onboardingStep.completed ? 'stepper--step-inactive' : '']">
            <img *ngIf="onboardingStep.active" src='{{ "assets/images/svgs/stepper/" + onboardingStep.icon + ".svg" }}' class="stepper--icon">
            <img *ngIf="!onboardingStep.active && onboardingStep.completed" src="assets/images/tick.svg" class="stepper--icon">
            <img *ngIf="!onboardingStep.active && !onboardingStep.completed" src='{{ "assets/images/svgs/stepper/" + onboardingStep.icon + "-inactive.svg" }}' class="stepper--icon">
          </div>
          <div *ngIf="onboardingStep.step !== 'Advanced Settings'" class="stepper--horizontal-separator"></div>
        </div>
        <div class="stepper--step-name sub-text-color">
          <h5>{{onboardingStep.step}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
