<!-- <div fxLayout="column" fxLayoutAlign="space-around center">
  <div>
    Complete the following steps to configure your Integration.
  </div>


  <div>
    <mat-stepper [disableRipple]="true" [linear]="true">
      <mat-step *ngFor="let onboardingStep of onboardingSteps" [ngSwitch]="onboardingStep" [completed]="onboardingStep.completed" [label]="onboardingStep.step"></mat-step>
    </mat-stepper>
  </div>

</div> -->
<div class="stepper">
  <div class="stepper--header">
    <h4 class="stepper--header-text align-center">
      Complete the following steps to configure your Integration.
    </h4>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="stepper--steps">
    <div class="stepper--step">
      <img src="assets/images/qbo-connector.svg" class="stepper--icon">
    </div>
    <div class="stepper--horizontal-separator"></div>
    <div class="stepper--step">
      <img src="assets/images/employee-setting.svg" class="stepper--icon">
    </div>
    <div class="stepper--horizontal-separator"></div>
    <div class="stepper--step">
      <img src="assets/images/export-setting.svg" class="stepper--icon">
    </div>
    <div class="stepper--horizontal-separator"></div>
    <div class="stepper--step">
      <img src="assets/images/import-setting.svg" class="stepper--icon">
    </div>
    <div class="stepper--horizontal-separator"></div>
    <div class="stepper--step">
      <img src="assets/images/advanced-setting.svg" class="stepper--icon">
    </div>
  </div>
</div>
