.employee-settings {
  // TODO: resuse common classes
  min-height: 608px;
  padding-bottom: 56px;

  &--field-label-section {
    width: 592px;
    padding-right: 8px;
  }

  &--employee-icon {
    padding-right: 16px;
  }

  &--field-header {
    padding-top: 3px;
  }

  &--form-field {
    width: 401px;
    padding: 2px 16px 0px 16px;
  }
}
