<div>
  <div class="dashboard-export-log--header-section">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h3>
        {{ data.error_title }}
      </h3>
      <img src="assets/images/svgs/actions/close.svg" (click)="this.dialogRef.close()"
        class="dashboard-export-log--close-icon sub-text-color pointer" />
    </div>
    <h5 class="dashboard-export-log--sub-header-text sub-text-color">
      {{ data.error_detail }}
    </h5>
  </div>


  <div class="dashboard-export-log--horizontal-separator"></div>

  <div class="dashboard-export-log--table">
    <app-export-log-child-table [displayedColumns]="displayedColumns" [expenses]="expenses"></app-export-log-child-table>
  </div>

  <div>
    <div fxLayout="row">
      <img src="assets/images/svgs/general/info.svg" class="dashboard-export-log--info-icon" width="12px" height="12px"/>
      <h5 class="dashboard-export-log--error-resolve-text sub-text-color">Resolve this error on your Quickbooks Online account to successfully export the following expenses</h5>
    </div>
    <div class="dashboard-export-log--horizontal-separator"></div>
    <div fxLayout="row" fxLayoutAlign="end center" class="dashboard-export-log--view-expenses-section">
      <div class="dashboard-export-log--view-expenses pointer" (click)="this.dialogRef.close()">
        <h5 class="dashboard-export-log--view-expenses-text">Okay</h5>
      </div>
    </div>
  </div>
</div>
