<div fxLayout="row" fxLayoutAlign="center center" class="configuration--section" [ngClass]="[isOnboarding ? 'configuration--onboarding-section' : '', !isOnboarding ? 'configuration--post-onboarding-section': '']">
  <app-loader [phase]="'pre_onboarding'" *ngIf="isLoading"></app-loader>
  <div *ngIf="!isLoading" class="configuration--contents">
    <app-configuration-step-header-section></app-configuration-step-header-section>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="qbo-connector--connection-blocks">
        <div class="qbo-connector--qbo-org-section">
          <h5 class="qbo-connector--fyle-section-text align-center sub-text-color bold">
            FYLE
          </h5>
          <h3 [matTooltip]="fyleOrgName" [matTooltipDisabled]="fyleOrgName.length > 26 === false" matTooltipPosition="left" matTooltipClass="left" class="align-center default-cursor single-line-text">
            {{ fyleOrgName | trimCharacter: 26 }}
          </h3>
        </div>
        <div class="qbo-connector--switch-org-section">
          <div class="qbo-connector--org-switch-separator"></div>
          <div class="qbo-connector--switch-org-inner-section">
            <h4 class="qbo-connector--switch-org-info-text sub-text-color single-line-text">
              Not the organization that you wish to connect?
            </h4>
            <h4 (click)="switchFyleOrg()" class="qbo-connector--switch-org-text actionable-text align-center">
              Switch Organization
            </h4>
          </div>
        </div>
      </div>
      <div class="qbo-connector--connection-blocks">
        <div class="qbo-connector--connection-top-block">
          <div class="qbo-connector--connection-block-separator-1"></div>
          <div>
            <img src="assets/gifs/disconnect.gif" height="100px" width="100px"/>
          </div>
          <div class="qbo-connector--connection-block-separator-2"></div>
        </div>
      </div>
      <div class="qbo-connector--connection-blocks">
        <div class="qbo-connector--fyle-org-section">
          <h5 class="qbo-connector--fyle-section-text align-center sub-text-color bold">
            QUICKBOOKS ONLINE COMPANY
          </h5>
          <h3 [matTooltip]="qboCompanyName" [matTooltipDisabled]="qboCompanyName.length > 26 === false" matTooltipPosition="right" matTooltipClass="right" *ngIf="!qboConnectionInProgress && qboCompanyName" class="default-cursor single-line-text align-center">
            {{ qboCompanyName | trimCharacter: 26 }}
          </h3>
          <p class="align-center" *ngIf="qboConnectionInProgress">
            <app-loader [size]="'small'"></app-loader>
          </p>
        </div>
        <div class="qbo-connector--switch-org-section">
          <div class="qbo-connector--org-switch-separator"></div>
          <div class="qbo-connector--switch-org-inner-section">
            <h4 *ngIf="!isQboConnected && !qboConnectionInProgress && !qboTokenExpired" class="qbo-connector--connection-in-progress-text align-center sub-text-color">
              No QuickBooks Online company is connected yet.
            </h4>
            <h4 *ngIf="!isQboConnected && !qboConnectionInProgress && !qboTokenExpired" (click)="connectQbo()" class="qbo-connector--switch-org-text actionable-text align-center">
              Connect to QuickBooks Online
            </h4>
            <h4 *ngIf="!qboConnectionInProgress && !qboTokenExpired && showDisconnectQBO" class="qbo-connector--switch-org-info-text align-center sub-text-color single-line-text">
              Not the company that you wish to connect with?
            </h4>
            <h4 *ngIf="qboConnectionInProgress" class="qbo-connector--connection-in-progress-text align-center sub-text-color">
              Please hold on; we are fetching data from your QuickBooks Online account, which may take a few seconds.
            </h4>
            <h4 *ngIf="qboTokenExpired && !qboConnectionInProgress" class="qbo-connector--connection-in-progress-text align-center sub-text-color">
              Token expired
            </h4>
            <h4 *ngIf="!qboConnectionInProgress && qboTokenExpired" (click)="connectQbo()" class="qbo-connector--switch-org-text actionable-text align-center">
              Re-Connect to QuickBooks Online
            </h4>
            <h4 *ngIf="!qboConnectionInProgress && showDisconnectQBO" (click)="disconnectQbo()" class="qbo-connector--switch-org-text actionable-text align-center">
              Disconnect
            </h4>
          </div>
        </div>
      </div>
    </div>

    <app-configuration-step-footer-section [ctaText]="ConfigurationCtaText.CONTINUE" [isButtonDisabled]="isContinueDisabled" (save)="continueToNextStep()"></app-configuration-step-footer-section>
  </div>
</div>
<app-onboarding-footer [page]="'qbo_connector'" *ngIf="!isLoading && isOnboarding"></app-onboarding-footer>
