.expense-form-preview {
  &--header-text {
    padding: 25px 0px 16px 12px;
  }

  &--close-icon {
    width: 17.5px;
    height: 17.5px;
    padding-top: 27px;
    padding-right: 15px;
  }

  &--preview-section {
    padding: 12px;
  }

  &--preview {
    border: 1px solid #A9ACBC;
    box-sizing: border-box;
    border-radius: 4px;
  }
}
