<div fxLayout="row" fxLayoutAlign="space-between center" style="height: 72px; padding: 6px 16px 6px 16px;">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <!-- TODO: fix padding -->
    <div style="padding-top: 15.5px; padding-bottom: 18.54px;">
      <img alt="Fyle" src="../../assets/images/fyle-logo.png" />
    </div>
    <div style="padding: 22px 16px 22px 16px;">
      +
    </div>
    <div style="padding: 6px 0px 6px 16px;">
      <img alt="Quickbooks Online" src="../../assets/images/qbo-logo.png" />
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 14px 16px 14px 0px;">
    <div fxLayout="row" style="padding-right: 32px">
      <div style="padding: 12px 12px 12px 12px;">
        <img src="assets/images/help.svg" />
      </div>
      <div style="padding: 12px 0px 12px 11px;">
        Help
      </div>
    </div>
    <div fxLayout="row" style="padding-left: 32px;">
      <div style="background: #2C304E; border-radius: 48px; width: 37px; height: 37px;">
        <p style="color: #FFFFFF; margin: 0; padding: 9px 13px 9px 13px;">A</p>
      </div>

      <div style="padding: 1.5px 0px 1.5px 10px;">
        <div>
          Ashwin
        </div>
        <div style="padding-top: 1px;">
          Fyle
        </div>
      </div>
    </div>
  </div>
</div>
