.configuration-select-field {
  &--field-label-text-section-without-img {
    padding-left: 35px;
  }

  &--select-example-section {
    padding: 4px 16px 0px 16px;
  }

  &--select-note-section {
    padding: 10px 50px 40px 32px;
  }

  &--select-note-content {
    padding: 8px 12px 8px 32px;
  }
}
