<div [formGroup]="form" fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
  <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
    <img *ngIf="iconPath" src="{{ iconPath }}" class="configuration--icon">
    <div class="configuration--field-label-text-section" [ngClass]="{'configuration-select-field--field-label-text-section-without-img': !iconPath}">
      <div class="configuration--field-header">
        {{ label }}
        <app-mandatory-field *ngIf="isFieldMandatory"></app-mandatory-field>
      </div>
      <h5 class="configuration--field-label sub-text-color">
        {{ subLabel }}
      </h5>
    </div>
  </div>
  <div class="configuration--input-section">
    <mat-form-field floatLabel="always" appearance="outline" class="configuration--form-field">
      <mat-select [placeholder]="placeholder" [formControlName]="formControllerName" [compareWith]="helperService.compareObjects">
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{ option.label }}
          <img *ngIf="form.value[formControllerName] === option.value" src="assets/images/svgs/general/tick-pink.svg" class="selected-value-check-mark">
        </mat-option>

        <app-simple-search-select *ngIf="qboAttributes" [form]="form"></app-simple-search-select>
        <div *ngFor="let option of qboAttributes | search : form.value.searchOption">
          <mat-option [ngClass]="{'search-zero-state': option && option.value === 'No result found'}" [matTooltip]="option.value" [matTooltipDisabled]="option.value.length <= 40" matTooltipPosition="above" (click)="helperService.clearSearchText(form)" [value]="{id: option.destination_id, name: option.value}">
            <p (click)="$event.stopPropagation()" *ngIf="option.value === 'No result found'" class="align-center italic">{{ option.value }}</p>
            <p *ngIf="option.value !== 'No result found'">{{ option.value }}</p>
            <img *ngIf="(form.value[formControllerName] | json) === ({id: option.destination_id, name: option.value} | json)" src="assets/images/svgs/general/tick-pink.svg" class="selected-value-check-mark">
          </mat-option>
        </div>
      </mat-select>
      <div class="mat-select-arrow-closed"></div>
    </mat-form-field>

    <div *ngIf="formControllerName === 'autoMapEmployee'" class="configuration-select-field--select-example-section">
      <!-- TODO: content -->
      <h5 *ngIf="form.value.autoMapEmployee === 'NAME'" class="sub-text-color">
        Example: Ryan Clark will map to Ryan Clark in QBO.
      </h5>
      <h5 *ngIf="form.value.autoMapEmployee === 'EMAIL'" class="sub-text-color">
        Example: ryan.clark@acme.com will map to ryan.clark@acme.com in QBO.
      </h5>
      <h5 *ngIf="form.value.autoMapEmployee === 'EMPLOYEE_CODE'" class="sub-text-color">
        Example: E0146 will map to E0146 in QBO.
      </h5>
    </div>

    <div *ngIf="formControllerName === 'employeeMapping'" class="configuration-select-field--select-example-section">
      <h5 *ngIf="form.value.employeeMapping === 'EMPLOYEE'" class="sub-text-color">
        Example of an Employee from your QBO instance : {{ liveEntityExample.EMPLOYEE }}
      </h5>
      <h5 *ngIf="form.value.employeeMapping === 'VENDOR'" class="sub-text-color">
        Example of a Vendor from your QBO instance : {{ liveEntityExample.VENDOR }}
      </h5>
    </div>
  </div>
</div>
<div *ngIf="formControllerName === 'autoMapEmployee' || formControllerName === 'expenseState'" class="configuration-select-field--select-note-section">
  <div class="configuration-select-field--select-note-content sub-text-color">
    <h5 *ngIf="formControllerName === 'autoMapEmployee'">Note: In case the employee records are not auto matched by the integration, you could still manually map the records from the Mappings section of the integration.</h5>
    <h5 *ngIf="formControllerName === 'expenseState'">Note: Based on the selected state, the integration will automatically import the expenses from Fyle. You can then manually export expenses from the Dashboard or automate the export process in the Advance settings.</h5>
  </div>
</div>
