<app-onboarding-header></app-onboarding-header>

<!-- TODO: scroll bar appears on linear gradient, check -->
<div style="background: linear-gradient(97.33deg, #E1EEFF 26.8%, #FFE4FB 97.18%); height: 956px;">
  <div fxLayout="row" fxLayoutAlign="center center" style="padding: 190px 320px 0px 320px;">
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <div style="height: 119px; padding-bottom: 52px; height: 119px;">
        <p style="
        font-weight: 700;
        letter-spacing: -0.01em;
        text-align: center;
        font-size: 32px;
        color: #161528;align-self: stretch;color: #161528;
        padding-bottom: 24px;
        ">
          Welcome to Fyle + Quickbooks Online Integration
        </p>
        <p style="font-size: 18px; text-align: center;align-self: stretch;color: #5A5D72;">
          Save time and effort by automating the seamless transfer of data between Fyle and Quickbooks Online for
          accurate accounting.
        </p>
      </div>
      <div style="padding-top: 42px;" (click)="connectQbo()">
        <div style="background: #108000;
        border-radius: 5px; padding: 16px, 28px, 16px, 28px;
        height: 48px;
        width: 318px;cursor: pointer;
        ">
          <p style="font-size: 18px;
        font-weight: bold;
        letter-spacing: 0em;
        text-align: left; padding: 10px 28px 10px 28px; color: #FFFFFF;
        text-align: center;
        ">
            Connect to Quickbooks Online
          </p>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between center" style="padding-top: 223px; height: 560px;">
    <div style="padding-bottom: 40px; align-items: center;">
      <div>
        <p style="
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
        color: #161528;
        ">
          Guide to setup your Integrations
        </p>
      </div>
      <div>
        <p style="
        font-size: 18px;
        letter-spacing: 0em;
        text-align: center;
        color: #5A5D72;
        ">
          A quick video tour to help you set up your integration easily and fast.
        </p>
      </div>
    </div>
    <div>
      <!-- TODO: add title -->
      <iframe width="560" height="315" src="https://www.youtube.com/embed/K68EKwh6Jyw"
        title="Fyle Quickbooks Integration" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>


<div style="padding: 407px 184px 177px 184px; background: #F6FAFF;">
  <div style="padding-left: 264.5px; padding-right: 264.5px;">
    <p style="font-weight: bold;
      font-size: 24px;
      text-align: center;
      color: #161528;
      padding-bottom: 16px;">
      How does the integration work?
    </p>
    <p style="font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #5A5D72;">
      Export expenses from Fyle and import chart of accounts, projects, and other data from Quickbooks Online.
    </p>
  </div>
  <div style="padding-top: 70px;">
    <!-- TODO: get proper image from aish -->
    <img src="assets/images/fyle-qbo-data-flow.svg" style="margin: 0 auto; display: block;"/>
  </div>
</div>

<app-onboarding-footer></app-onboarding-footer>