.zero-state-with-illustration {
  &--zero-state-img {
    padding-top: 180px;
  }

  &--zero-state-text {
    color: #2C304E;
  }

  &--zero-state-text-small {
    color: #5A5D72;
    width: 298px;
    padding-top: 8px;
  }

  &--info-section {
    padding-top: 16px;
    color: #161528;
  }

  &--sub-info-section {
    padding-top: 8px;
  }
}
